API query url encode with change to global v3.json
[{"id":"f5f83240.4691b","type":"subflow","name":"IOT token","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"c254d7e4.d25438"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"c254d7e4.d25438","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c254d7e4.d25438","type":"function","z":"f5f83240.4691b","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['miogcClientId'] = 'd2lsZGNhcmRUb2tlbg==';\nmsg.headers['Content-Type'] = 'application/json;charset=utf-8';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[[]]},{"id":"f7837a34.ce6a08","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":1000,"wires":[]},{"id":"6f477ab9.aa2e64","type":"function","z":"6a170be9.feff64","name":"encode URL ","func":"var startTime = msg.payload.startTime\nvar endTime = msg.payload.endTime\nvar useSensor = msg.payload.useSensor\n\nvar urlBodyStr = JSON.stringify([{\"field\":\"startTime\",\"op\":\"eq\",\"value\":startTime},{\"field\":\"endTime\",\"op\":\"eq\",\"value\":endTime},{\"field\":\"sampleValueConfigUnid\",\"op\":\"eq\",\"value\":useSensor}]);\nvar encodedBody = encodeURIComponent(urlBodyStr);\n\nmsg.encode = encodedBody;\n// msg.headers = {};\n// msg.headers['miogcClientId'] = 'd2lsZGNhcmRUb2tlbg==';\n// msg.headers['Content-Type'] = 'application/json;charset=utf-8';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":940,"wires":[["d567929b.72554"]]},{"id":"d567929b.72554","type":"subflow:f5f83240.4691b","z":"6a170be9.feff64","name":"","x":580,"y":940,"wires":[["f2d7b520.9191c8"]]},{"id":"3da492d0.9d67be","type":"inject","z":"6a170be9.feff64","name":"inject Sensor and time","props":[{"p":"payload.startTime","v":"2020/08/01","vt":"str"},{"p":"payload.endTime","v":"2020/08/05","vt":"str"},{"p":"payload.useSensor","v":"G3F-01||F3-TCS3001||Humidity||avg","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":940,"wires":[["6f477ab9.aa2e64"]]},{"id":"bac81e86.c594c","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"historyHum","pt":"global","to":"payload.iot_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1000,"wires":[["f7837a34.ce6a08"]]},{"id":"82e88c7e.c8e5c","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"predictHum","payloadType":"global","x":210,"y":1200,"wires":[["8f9a65c7.d30818"]]},{"id":"78237492.2eaa4c","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":1040,"wires":[]},{"id":"875372c8.e27ed","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"predictHum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1100,"wires":[["78237492.2eaa4c"]]},{"id":"8f9a65c7.d30818","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":1200,"wires":[]},{"id":"ede2e2c9.6287e","type":"comment","z":"6a170be9.feff64","name":"test global value","info":"","x":180,"y":1160,"wires":[]},{"id":"b7f2221b.ed3c1","type":"group","z":"6a170be9.feff64","name":"got history data","style":{"label":true,"stroke":"#ffff00","fill":"#ffffbf"},"nodes":["f2d7b520.9191c8","9997c5b9.cb4888"],"x":94,"y":959,"w":392,"h":82},{"id":"f2d7b520.9191c8","type":"http request","z":"6a170be9.feff64","g":"b7f2221b.ed3c1","name":"資料下載","method":"GET","ret":"obj","paytoqs":"ignore","url":"10.11.10.111:8080/api/svSummarizeValue/restful/5min?query={{{encode}}}","tls":"","persist":false,"proxy":"","authType":"","x":180,"y":1000,"wires":[["9997c5b9.cb4888"]]},{"id":"9997c5b9.cb4888","type":"function","z":"6a170be9.feff64","g":"b7f2221b.ed3c1","name":"歷史資料取得","func":"var count = msg.payload.length - 150;\n\n// var result = msg.payload.value[count].result;\nvar result = msg.payload[count].avgValue\n// var time = msg.payload.value[count].resultTime;\nvar list = [];\n// var tlist = []\n\nwhile(count < msg.payload.length){\n    result = msg.payload[count].avgValue;\n    // time = msg.payload.value[count].resultTime;\n    // time = time.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list.push(result);\n    // tlist.push(time);\n    count++;\n}\n\nmsg.payload ={\n    \"ID\":\"ID_1\",\n    \"iot_data\": list\n}\n\n// var history = flow.get('OGCT')||0;\n// flow.set('OGCT',list);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":1000,"wires":[["bac81e86.c594c","3499fe47.7e4862"]]},{"id":"f272da26.280fe8","type":"group","z":"6a170be9.feff64","name":"predic data","style":{"stroke":"#ffC000","fill":"#ffefbf","label":true},"nodes":["3499fe47.7e4862","83444e8b.daced","f4b75a86.e0aba8","1619cec4.bfa841"],"x":94,"y":1059,"w":712,"h":82},{"id":"3499fe47.7e4862","type":"http request","z":"6a170be9.feff64","g":"f272da26.280fe8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.101:8080/pred_temperature_api","tls":"","persist":false,"proxy":"","authType":"","x":190,"y":1100,"wires":[["83444e8b.daced"]]},{"id":"83444e8b.daced","type":"change","z":"6a170be9.feff64","g":"f272da26.280fe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.predictions[0].predict_series","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1100,"wires":[["1619cec4.bfa841"]]},{"id":"f4b75a86.e0aba8","type":"function","z":"6a170be9.feff64","g":"f272da26.280fe8","name":"arrage data","func":"var split =\" \"\nvar list = [];\nvar str = \"\";\n\nfor(i = 0 ; i<=msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split &&  str != split){\n        str = str.trim();\n        if(str !== \"\"){\n            str = parseFloat(str)\n            list.push(str);\n        }\n        str = \"\";\n    }\n    \n}\n\nif(str.length>0){\n    str = parseFloat(str)\n    list.push(str);\n}\n\n// var predicVal = flow.get('predicVal')||0;\n// flow.set('predicVal',list);\n\nreturn {payload:list}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1100,"wires":[["875372c8.e27ed"]]},{"id":"1619cec4.bfa841","type":"change","z":"6a170be9.feff64","g":"f272da26.280fe8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1100,"wires":[["f4b75a86.e0aba8"]]}]