API query and url encode v2.json
[{"id":"f5f83240.4691b","type":"subflow","name":"IOT token","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"c254d7e4.d25438"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"c254d7e4.d25438","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c254d7e4.d25438","type":"function","z":"f5f83240.4691b","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['miogcClientId'] = 'd2lsZGNhcmRUb2tlbg==';\nmsg.headers['Content-Type'] = 'application/json;charset=utf-8';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[[]]},{"id":"6ac676b9.2dfe18","type":"debug","z":"323f195e.a26df6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":840,"wires":[]},{"id":"b68caea.bc8e15","type":"inject","z":"323f195e.a26df6","name":"inject Sensor and time","props":[{"p":"payload.startTime","v":"2020/08/01","vt":"str"},{"p":"payload.endTime","v":"2020/08/05","vt":"str"},{"p":"payload.useSensor","v":"G3F-01||F3-TCS3001||Humidity||avg","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":140,"y":720,"wires":[["65d94e53.1bde3"]]},{"id":"65d94e53.1bde3","type":"function","z":"323f195e.a26df6","name":"encode URL ","func":"var startTime = msg.payload.startTime\nvar endTime = msg.payload.endTime\nvar useSensor = msg.payload.useSensor\n\nvar urlBodyStr = JSON.stringify([{\"field\":\"startTime\",\"op\":\"eq\",\"value\":startTime},{\"field\":\"endTime\",\"op\":\"eq\",\"value\":endTime},{\"field\":\"sampleValueConfigUnid\",\"op\":\"eq\",\"value\":useSensor}]);\nvar encodedBody = encodeURIComponent(urlBodyStr);\n\nmsg.encode = encodedBody;\n// msg.headers = {};\n// msg.headers['miogcClientId'] = 'd2lsZGNhcmRUb2tlbg==';\n// msg.headers['Content-Type'] = 'application/json;charset=utf-8';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":720,"wires":[["4706eda3.af3c84"]]},{"id":"4706eda3.af3c84","type":"subflow:f5f83240.4691b","z":"323f195e.a26df6","name":"","x":400,"y":780,"wires":[["fba1b604.0730b8"]]},{"id":"f61289fe.0a9de8","type":"group","z":"323f195e.a26df6","name":"got history data","style":{"label":true,"stroke":"#ffff00","fill":"#ffffbf"},"nodes":["fba1b604.0730b8","cd2bb981.63d578"],"x":274,"y":799,"w":392,"h":82},{"id":"fba1b604.0730b8","type":"http request","z":"323f195e.a26df6","g":"f61289fe.0a9de8","name":"濕度資料","method":"GET","ret":"obj","paytoqs":"ignore","url":"10.11.10.111:8080/api/svSummarizeValue/restful/5min?query={{{encode}}}","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":840,"wires":[["cd2bb981.63d578"]]},{"id":"cd2bb981.63d578","type":"function","z":"323f195e.a26df6","g":"f61289fe.0a9de8","name":"歷史資料取得","func":"var count = msg.payload.length - 100;\n\n// var result = msg.payload.value[count].result;\nvar result = msg.payload[count].avgValue\n// var time = msg.payload.value[count].resultTime;\nvar list = [];\n// var tlist = []\n\nwhile(count < msg.payload.length){\n    result = msg.payload[count].avgValue;\n    // time = msg.payload.value[count].resultTime;\n    // time = time.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list.push(result);\n    // tlist.push(time);\n    count++;\n}\n\nmsg.payload ={\n    \"ID\":\"ID_1\",\n    \"iot_data\": list\n}\n\nvar history = flow.get('OGCT')||0;\nflow.set('OGCT',list);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":840,"wires":[["6ac676b9.2dfe18"]]}]