car dashboard -v2.json
[{"id":"3519cf1.ac35b3","type":"subflow","name":"bus data calculate","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"380df1ae.c7386e"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"66a40b34.64f834","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"380df1ae.c7386e","type":"split","z":"3519cf1.ac35b3","name":"","splt":"'bus:':","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":80,"wires":[["66a40b34.64f834"]]},{"id":"66a40b34.64f834","type":"function","z":"3519cf1.ac35b3","name":"String to int","func":"var auto = msg.payload;\nvar count = auto;\nif(auto !== \"\"){\n    count = parseInt(auto, 10);\n}\n\nreturn {payload:count}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[[]]},{"id":"83e6aac1.40d5f8","type":"subflow","name":"truck data calculate","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"3dc15b53.0864e4"}]}],"out":[{"x":600,"y":80,"wires":[{"id":"bfa65adf.689cf8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3dc15b53.0864e4","type":"split","z":"83e6aac1.40d5f8","name":"","splt":"'truck:':","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":80,"wires":[["bfa65adf.689cf8"]]},{"id":"bfa65adf.689cf8","type":"function","z":"83e6aac1.40d5f8","name":"String to int","func":"var auto = msg.payload;\nvar count = auto;\nif(auto !== \"\"){\n    count = parseInt(auto, 10);\n}\n\nreturn {payload:count}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[[]]},{"id":"8c5a2cef.4701a","type":"subflow","name":"car data calculate","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"ee82445c.e5da98"}]}],"out":[{"x":480,"y":80,"wires":[{"id":"51351f07.847c3","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ee82445c.e5da98","type":"split","z":"8c5a2cef.4701a","name":"","splt":"'car:':","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":80,"wires":[["51351f07.847c3"]]},{"id":"51351f07.847c3","type":"function","z":"8c5a2cef.4701a","name":"String to int","func":"var auto = msg.payload;\nvar count = 0;\n\nvar pro1 = flow.get('procar1')||null;\nvar pro2 = flow.get('procar2')||null;\nvar pro3 = flow.get('procar3')||null;\nvar pro4 = flow.get('procar4')||null;\n\nif(auto !== \"\"){\n    count = parseInt(auto, 10);\n}\nvar findmax = Math.max(pro1,pro2,pro3,pro4,count);\n\n\nflow.set('procar1',pro2);\nflow.set('procar2',pro3);\nflow.set('procar3',pro4);\nflow.set('procar4',count);\n\nreturn {payload:findmax}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[[]]},{"id":"4b57487d.ed86a8","type":"subflow","name":"classify 1.car 2.truck 3.bus","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"eee80fdc.d2d53"}]}],"out":[{"x":540,"y":80,"wires":[{"id":"92391cb1.88ca2","port":0}]},{"x":540,"y":80,"wires":[{"id":"92391cb1.88ca2","port":1}]},{"x":540,"y":80,"wires":[{"id":"92391cb1.88ca2","port":2}]}],"env":[],"color":"#DDAA99"},{"id":"eee80fdc.d2d53","type":"split","z":"4b57487d.ed86a8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":80,"wires":[["92391cb1.88ca2"]]},{"id":"92391cb1.88ca2","type":"switch","z":"4b57487d.ed86a8","name":"classify car,truck&bus","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"car","vt":"str"},{"t":"cont","v":"truck","vt":"str"},{"t":"cont","v":"bus","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":360,"y":80,"wires":[[],[],[]]},{"id":"fea9f556.8d2d28","type":"subflow","name":"Live","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"c8f622b.94365e"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"c8f622b.94365e","type":"ui_template","z":"fea9f556.8d2d28","group":"c9b29837.7b2bc8","name":"Just a view of cameras","order":1,"width":"22","height":"15","format":"<!DOCTYPE html>\n<html>\n<style>\nimg {\n    /*margin-top:10px;*/\n    border: 1px solid #ddd;\n    border-radius: 8px;\n    padding: 2px;\n    width: 900px;\n}\n</style>\n\n<script type=\"text/javascript\">\nscope.$watch('msg', function(msg) {\n    inMessage(msg.payload);\n});\n\nfunction updatePic() {\n    document.getElementById('c51').src = \"http://192.168.24.39:5000/video_feed\";\n}\n\nfunction inMessage(event) {\n    if (event.match('checkWeb')) {\n        updatePic();\n    }\n}\n\n</script>\n<div style=\"text-align: right; margin-top:20px;\">\n    <h1 class=\"mt-5\">Live Streaming Demonstration</h1>\n\t<img src=\"\" id=\"c51\" />\n</div>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":190,"y":80,"wires":[[]]},{"id":"c9b29837.7b2bc8","type":"ui_group","z":"","name":"LiveVideo","tab":"4ea03281.699b3c","order":1,"disp":false,"width":"35","collapse":false},{"id":"4ea03281.699b3c","type":"ui_tab","z":"","name":"LiveVideo","icon":"dashboard","disabled":false,"hidden":false},{"id":"c006daaf.3ee358","type":"inject","z":"91efe5fc.8594d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"checkWeb","payloadType":"str","x":130,"y":80,"wires":[["2cc8e143.b5de5e"]]},{"id":"61dfc536.88a22c","type":"mqtt in","z":"91efe5fc.8594d8","name":"","topic":"demo/car","qos":"2","datatype":"json","broker":"975def1e.ed318","x":80,"y":160,"wires":[["f8968b7e.123568"]]},{"id":"2cc8e143.b5de5e","type":"subflow:fea9f556.8d2d28","z":"91efe5fc.8594d8","name":"","x":300,"y":80,"wires":[]},{"id":"f8968b7e.123568","type":"subflow:4b57487d.ed86a8","z":"91efe5fc.8594d8","name":"","x":300,"y":160,"wires":[["92e78fb.6aeca7"],["5b1c4611.0d5c08"],["966b7901.af6628"]]},{"id":"92e78fb.6aeca7","type":"subflow:8c5a2cef.4701a","z":"91efe5fc.8594d8","name":"","x":550,"y":140,"wires":[["975ad226.54fd9"]]},{"id":"975ad226.54fd9","type":"ui_chart","z":"91efe5fc.8594d8","name":"","group":"c9b29837.7b2bc8","order":8,"width":"7","height":"4","label":"car data dispaly","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"20","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":140,"wires":[[]]},{"id":"5b1c4611.0d5c08","type":"subflow:83e6aac1.40d5f8","z":"91efe5fc.8594d8","name":"","x":550,"y":180,"wires":[["a2347843.e482d8"]]},{"id":"a2347843.e482d8","type":"ui_chart","z":"91efe5fc.8594d8","name":"","group":"c9b29837.7b2bc8","order":8,"width":"7","height":"4","label":"truck data dispaly","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"10","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":180,"wires":[[]]},{"id":"966b7901.af6628","type":"subflow:3519cf1.ac35b3","z":"91efe5fc.8594d8","name":"","x":550,"y":220,"wires":[["7e0ef8d.bbd3c08"]]},{"id":"7e0ef8d.bbd3c08","type":"ui_chart","z":"91efe5fc.8594d8","name":"","group":"c9b29837.7b2bc8","order":8,"width":"7","height":"4","label":"bus data dispaly","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"10","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":220,"wires":[[]]},{"id":"975def1e.ed318","type":"mqtt-broker","z":"","name":"","broker":"10.11.10.98","port":"8084","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]