chartjs with api data.json
[{"id":"9207ef94.de2c9","type":"http request","z":"6a170be9.feff64","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.61:8080/FROST-Server/v1.0/Datastreams(21226)/Observations ","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":120,"wires":[["b176af25.ef74d"]]},{"id":"6568473d.df2608","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["9207ef94.de2c9"]]},{"id":"b176af25.ef74d","type":"function","z":"6a170be9.feff64","name":"","func":"var count = msg.payload.value.length - 10;\nvar result = msg.payload.value[count].result;\nvar time = msg.payload.value[count].resultTime;\nvar list = [];\nvar tlist =[];\n\nwhile(count < msg.payload.value.length){\n    result = msg.payload.value[count].result;\n    time = msg.payload.value[count].resultTime;\n    time = time.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list.push(result);\n    tlist.push(time);\n    count++;\n}\n\nmsg.payload ={\n    \"time\":tlist,\n    \"dataset\": list\n}\n\nvar resultlist = flow.get('list')||0;\nflow.set('list',list);\nvar gettime = flow.get('timelist')||0;\nflow.set('timelist',tlist);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":120,"wires":[["7ba17126.d9cdc"]]},{"id":"300ebbb5.649314","type":"http in","z":"6a170be9.feff64","name":"","url":"/thefuck","method":"get","upload":false,"swaggerDoc":"","x":130,"y":20,"wires":[["78a21cb3.5dcf24"]]},{"id":"7753dafa.5664d4","type":"http response","z":"6a170be9.feff64","name":"","statusCode":"","headers":{},"x":630,"y":20,"wires":[]},{"id":"78a21cb3.5dcf24","type":"function","z":"6a170be9.feff64","name":"","func":"var list = flow.get('list')||0;\nvar timelist = flow.get('timelist')||0;\n\nmsg.payload ={\n    \"dataset\": list,\n    \"time\":timelist\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":20,"wires":[["624a2.fffc7b5e"]]},{"id":"7ba17126.d9cdc","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":120,"wires":[]},{"id":"624a2.fffc7b5e","type":"template","z":"6a170be9.feff64","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>Page Title</title>\n<!-- chartjs -->\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js\"></script>\n</head>\n<body>\n<div></div>\n<h1>PH2.5</h1> \n<div  style=\"position: relative; height:20vh; width:40vw\">\n    <canvas id=\"myChart\"></canvas>\n</div>\n\n</div>\n\n\n<script>\n\nvar chartColors = {\n  red: 'rgb(255, 99, 132)'\n};\n\n// var MONTHS = [{{{payload.time}}}];\nvar config = {\n  type: 'line',\n  data: {\n    labels: [\n        \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\",\"8\",\"9\",\"10\"\n        ],\n    datasets: [{\n      label: \"My First dataset\",\n      backgroundColor: chartColors.red,\n      borderColor: chartColors.red,\n      data: [\n        {{{payload.dataset}}}\n      ],\n      fill: false,\n    }]\n  },\n  options: {\n    // responsive: true,\n    title: {\n      display: true,\n      text: 'Chart.js Line Chart'\n    },\n    tooltips: {\n      mode: 'label',\n    },\n    hover: {\n      mode: 'nearest',\n      intersect: true\n    },\n    // scales: {\n    //   xAxes: [{\n    //     display: true,\n    //     scaleLabel: {\n    //       display: true,\n    //       labelString: 'Month'\n    //     }\n    //   }],\n    //   yAxes: [{\n    //     display: true,\n    //     scaleLabel: {\n    //       display: true,\n    //       labelString: 'Value'\n    //     }\n    //   }]\n    // }\n  }\n};\n\nvar ctx = document.getElementById(\"myChart\").getContext(\"2d\");\nwindow.myLine = new Chart(ctx, config);\n\n</script>\n\n</body>\n</html>","output":"str","x":460,"y":20,"wires":[["7753dafa.5664d4"]]},{"id":"151567d1.3ea978","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":60,"wires":[["78a21cb3.5dcf24"]]}]