check trainning status.json
[{"id":"2b3036c.e0d26ca","type":"group","z":"7a0d3299.f9411c","name":"check if training status","style":{"stroke":"#ffC000","fill":"#ffefbf","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["d63f3147.c9864","2d3024ed.4ac5dc","e9c79400.b11138","8fbc0f12.00e6c","76e317bb.a85a28","bf5150c0.15f5b"],"x":234,"y":39,"w":1012,"h":142},{"id":"d63f3147.c9864","type":"function","z":"7a0d3299.f9411c","g":"2b3036c.e0d26ca","name":"","func":"var idToken = flow.get('token');\nvar id = flow.get('id');\nmsg.payload = { \n    token: \"Bearer \" + idToken, \n    id:id\n};\n// msg.headers['Authorization'] = \"Bearer \" + msg.paylaod;\n\n\n// msg.topic ='http://10.199.1.2/api/jobs/'+id \nmsg.topic = id\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":100,"wires":[["e9c79400.b11138"]]},{"id":"2d3024ed.4ac5dc","type":"inject","z":"7a0d3299.f9411c","g":"2b3036c.e0d26ca","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"token","payloadType":"flow","x":340,"y":100,"wires":[["d63f3147.c9864"]]},{"id":"e9c79400.b11138","type":"function","z":"7a0d3299.f9411c","g":"2b3036c.e0d26ca","name":"","func":"msg.headers = {\n    Authorization:msg.payload.token\n    \n};\nmsg.topic = msg.payload.id;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":100,"wires":[["8fbc0f12.00e6c","76e317bb.a85a28"]]},{"id":"8fbc0f12.00e6c","type":"http request","z":"7a0d3299.f9411c","g":"2b3036c.e0d26ca","name":"job trainning check","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/jobs/{{{topic}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":910,"y":140,"wires":[["bf5150c0.15f5b"]]},{"id":"76e317bb.a85a28","type":"debug","z":"7a0d3299.f9411c","g":"2b3036c.e0d26ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":80,"wires":[]},{"id":"bf5150c0.15f5b","type":"debug","z":"7a0d3299.f9411c","g":"2b3036c.e0d26ca","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":140,"wires":[]}]