checking v2.json
[{"id":"746bdd7e.ff82d4","type":"group","z":"d9c35eb2.ee09a","name":"check if training status","style":{"stroke":"#ffC000","fill":"#ffefbf","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f86a0f44.1650c","ef33d092.7023e","320a27e5.561298","dfe19cdb.f608a","69eb4c6c.ade544","e525571.a36b5a8","6cf62617.312378"],"x":-6,"y":59,"w":1072,"h":162},{"id":"f86a0f44.1650c","type":"inject","z":"d9c35eb2.ee09a","g":"746bdd7e.ff82d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"token","payloadType":"flow","x":110,"y":140,"wires":[["6cf62617.312378"]]},{"id":"ef33d092.7023e","type":"http request","z":"d9c35eb2.ee09a","g":"746bdd7e.ff82d4","name":"job trainning check","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/jobs/{{{topic}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":140,"wires":[["dfe19cdb.f608a"]]},{"id":"320a27e5.561298","type":"debug","z":"d9c35eb2.ee09a","g":"746bdd7e.ff82d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":180,"wires":[]},{"id":"dfe19cdb.f608a","type":"switch","z":"d9c35eb2.ee09a","g":"746bdd7e.ff82d4","name":"alart if it's done","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"},{"t":"eq","v":"waiting","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":680,"y":140,"wires":[["69eb4c6c.ade544"],[]]},{"id":"69eb4c6c.ade544","type":"debug","z":"d9c35eb2.ee09a","g":"746bdd7e.ff82d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":100,"wires":[]},{"id":"e525571.a36b5a8","type":"comment","z":"d9c35eb2.ee09a","g":"746bdd7e.ff82d4","name":"also display when it's waiting","info":"","x":920,"y":140,"wires":[]},{"id":"6cf62617.312378","type":"function","z":"d9c35eb2.ee09a","g":"746bdd7e.ff82d4","name":"","func":"var idToken = flow.get('token');\nvar id = global.get('id');\n\nmsg.headers = {\n    Authorization:\"Bearer \" + idToken\n};\nmsg.topic = id\n\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":140,"wires":[["ef33d092.7023e"]]}]