deshborad display.json
[{"id":"3519cf1.ac35b3","type":"subflow","name":"bus data calculate","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"380df1ae.c7386e"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"424e59b0.0e0198","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"380df1ae.c7386e","type":"split","z":"3519cf1.ac35b3","name":"","splt":"'bus:':","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":80,"wires":[["66a40b34.64f834"]]},{"id":"66a40b34.64f834","type":"function","z":"3519cf1.ac35b3","name":"String to int","func":"var auto = msg.payload;\nvar count = auto;\nif(auto !== \"\"){\n    count = parseInt(auto, 10);\n}\n\nreturn {payload:count}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[["424e59b0.0e0198"]]},{"id":"424e59b0.0e0198","type":"ui_chart","z":"3519cf1.ac35b3","name":"","group":"c9b29837.7b2bc8","order":3,"width":"8","height":"6","label":"bus","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":80,"wires":[[]]},{"id":"83e6aac1.40d5f8","type":"subflow","name":"truck data calculate","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"3dc15b53.0864e4"}]}],"out":[{"x":600,"y":80,"wires":[{"id":"41f343ce.7219ac","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3dc15b53.0864e4","type":"split","z":"83e6aac1.40d5f8","name":"","splt":"'truck:':","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":80,"wires":[["bfa65adf.689cf8"]]},{"id":"bfa65adf.689cf8","type":"function","z":"83e6aac1.40d5f8","name":"String to int","func":"var auto = msg.payload;\nvar count = auto;\nif(auto !== \"\"){\n    count = parseInt(auto, 10);\n}\n\nreturn {payload:count}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[["41f343ce.7219ac"]]},{"id":"41f343ce.7219ac","type":"ui_chart","z":"83e6aac1.40d5f8","name":"","group":"c9b29837.7b2bc8","order":3,"width":"8","height":"6","label":"truck ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":80,"wires":[[]]},{"id":"8c5a2cef.4701a","type":"subflow","name":"car data calculate","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"ee82445c.e5da98"}]}],"out":[{"x":600,"y":80,"wires":[{"id":"7590b7b5.e5f058","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ee82445c.e5da98","type":"split","z":"8c5a2cef.4701a","name":"","splt":"'car:':","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":190,"y":80,"wires":[["51351f07.847c3"]]},{"id":"51351f07.847c3","type":"function","z":"8c5a2cef.4701a","name":"String to int","func":"var auto = msg.payload;\nvar count = 0;\n\nvar pro1 = flow.get('procar1')||null;\nvar pro2 = flow.get('procar2')||null;\nvar pro3 = flow.get('procar3')||null;\nvar pro4 = flow.get('procar4')||null;\n\nif(auto !== \"\"){\n    count = parseInt(auto, 10);\n}\nvar findmax = Math.max(pro1,pro2,pro3,pro4,count);\n\n\nflow.set('procar1',pro2);\nflow.set('procar2',pro3);\nflow.set('procar3',pro4);\nflow.set('procar4',count);\n\nreturn {payload:findmax}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[["7590b7b5.e5f058"]]},{"id":"7590b7b5.e5f058","type":"ui_chart","z":"8c5a2cef.4701a","name":"","group":"c9b29837.7b2bc8","order":3,"width":"8","height":"6","label":"car","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":490,"y":80,"wires":[[]]},{"id":"c006daaf.3ee358","type":"inject","z":"91efe5fc.8594d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"checkWeb","payloadType":"str","x":250,"y":140,"wires":[["c8f622b.94365e"]]},{"id":"c8f622b.94365e","type":"ui_template","z":"91efe5fc.8594d8","group":"c9b29837.7b2bc8","name":"Just a view of cameras","order":1,"width":"35","height":"12","format":"<!DOCTYPE html>\n<html>\n<style>\nimg {\n    border: 1px solid #ddd;\n    border-radius: 8px;\n    padding: 2px;\n    width: 800px;\n}\n</style>\n\n<script type=\"text/javascript\">\nscope.$watch('msg', function(msg) {\n    inMessage(msg.payload);\n});\n\nfunction updatePic() {\n    document.getElementById('c51').src = \"http://192.168.24.39:5000/video_feed\";\n}\n\nfunction inMessage(event) {\n    if (event.match('checkWeb')) {\n        updatePic();\n    }\n}\n\n</script>\n<div style = \"display:inline;\">\n    <h3 class=\"mt-5\">Live Streaming Demonstration</h3>\n\t<img src=\"\" id=\"c51\" />\n</div>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":510,"y":140,"wires":[[]]},{"id":"61dfc536.88a22c","type":"mqtt in","z":"91efe5fc.8594d8","name":"","topic":"demo/car","qos":"2","datatype":"json","broker":"975def1e.ed318","x":60,"y":240,"wires":[["4d38d727.6ec608"]]},{"id":"4d38d727.6ec608","type":"split","z":"91efe5fc.8594d8","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":210,"y":240,"wires":[["d40174a4.c77d18"]]},{"id":"d40174a4.c77d18","type":"switch","z":"91efe5fc.8594d8","name":"classify car,truck&bus","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"car","vt":"str"},{"t":"cont","v":"truck","vt":"str"},{"t":"cont","v":"bus","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":400,"y":240,"wires":[["f00f4422.d3d5f8"],["5abe5acb.308364"],["45364f43.fca4e"]]},{"id":"f00f4422.d3d5f8","type":"subflow:8c5a2cef.4701a","z":"91efe5fc.8594d8","name":"","env":[],"x":670,"y":200,"wires":[[]]},{"id":"5abe5acb.308364","type":"subflow:83e6aac1.40d5f8","z":"91efe5fc.8594d8","name":"","env":[],"x":670,"y":260,"wires":[[]]},{"id":"45364f43.fca4e","type":"subflow:3519cf1.ac35b3","z":"91efe5fc.8594d8","name":"","env":[],"x":670,"y":300,"wires":[[]]},{"id":"c9b29837.7b2bc8","type":"ui_group","z":"","name":"LiveVideo","tab":"4ea03281.699b3c","order":1,"disp":false,"width":"35","collapse":false},{"id":"975def1e.ed318","type":"mqtt-broker","z":"","name":"","broker":"10.11.10.98","port":"8084","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ea03281.699b3c","type":"ui_tab","z":"","name":"LiveVideo","icon":"dashboard","disabled":false,"hidden":false}]