dowload imag from specific path.json
[{"id":"185194a9.5e17ab","type":"group","z":"7a0d3299.f9411c","name":"download image","style":{"stroke":"#ffff00","fill":"#ffffbf","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9273220e.c8461","c78c7dfb.acf9c","b748adef.b88e","a673c3ae.926fc"],"x":634,"y":459,"w":552,"h":122},{"id":"9273220e.c8461","type":"http request","z":"7a0d3299.f9411c","g":"185194a9.5e17ab","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://10.199.1.2/api/objects/download/ds_5289a4db/test1.jpg","tls":"","persist":false,"proxy":"","authType":"basic","x":730,"y":540,"wires":[["a673c3ae.926fc"]]},{"id":"c78c7dfb.acf9c","type":"debug","z":"7a0d3299.f9411c","g":"185194a9.5e17ab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":540,"wires":[]},{"id":"b748adef.b88e","type":"comment","z":"7a0d3299.f9411c","g":"185194a9.5e17ab","name":"got image file ","info":"","x":730,"y":500,"wires":[]},{"id":"a673c3ae.926fc","type":"image viewer","z":"7a0d3299.f9411c","g":"185194a9.5e17ab","name":"","width":"300","data":"payload","dataType":"msg","x":910,"y":540,"wires":[["c78c7dfb.acf9c"]]}]