flows (1).json
[{"id":"70d628fa.d97768","type":"subflow","name":"選擇gru模型預測（溫度）","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"4159c133.bd308"}]}],"out":[{"x":960,"y":120,"wires":[{"id":"19eec81d.6ec4f8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4159c133.bd308","type":"http request","z":"70d628fa.d97768","g":"90773a77.6b92d8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.101:8080/pred_gru_api","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["56f35b10.649e34"]]},{"id":"56f35b10.649e34","type":"change","z":"70d628fa.d97768","g":"90773a77.6b92d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.predictions[0].predict_series","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["67885a51.c45534"]]},{"id":"19eec81d.6ec4f8","type":"function","z":"70d628fa.d97768","g":"90773a77.6b92d8","name":"arrage data","func":"var split =\" \"\nvar list = [];\nvar str = \"\";\n\nfor(i = 0 ; i<=msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split &&  str != split){\n        str = str.trim();\n        if(str !== \"\"){\n            str = parseFloat(str)\n            list.push(str);\n        }\n        str = \"\";\n    }\n    \n}\n\nif(str.length>0){\n    str = parseFloat(str)\n    list.push(str);\n}\n\n// var predicVal = flow.get('predicVal')||0;\n// flow.set('predicVal',list);\n\nreturn {payload:list}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":120,"wires":[[]]},{"id":"67885a51.c45534","type":"change","z":"70d628fa.d97768","g":"90773a77.6b92d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["19eec81d.6ec4f8"]]},{"id":"fdb8a8d6.5b00a8","type":"subflow","name":"選擇cnn模型預測（溫度）","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"79573ec2.633af"}]}],"out":[{"x":960,"y":120,"wires":[{"id":"b7395fe0.ec447","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"79573ec2.633af","type":"http request","z":"fdb8a8d6.5b00a8","g":"7fdc4b45.becb04","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.101:8080/pred_temperature_cnn_api","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["3e3ffc72.2ad554"]]},{"id":"3e3ffc72.2ad554","type":"change","z":"fdb8a8d6.5b00a8","g":"7fdc4b45.becb04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.predictions[0].predict_series","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["2485375b.e31b88"]]},{"id":"b7395fe0.ec447","type":"function","z":"fdb8a8d6.5b00a8","g":"7fdc4b45.becb04","name":"arrage data","func":"var split =\" \"\nvar list = [];\nvar str = \"\";\n\nfor(i = 0 ; i<=msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split &&  str != split){\n        str = str.trim();\n        if(str !== \"\"){\n            str = parseFloat(str)\n            list.push(str);\n        }\n        str = \"\";\n    }\n    \n}\n\nif(str.length>0){\n    str = parseFloat(str)\n    list.push(str);\n}\n\n// var predicVal = flow.get('predicVal')||0;\n// flow.set('predicVal',list);\n\nreturn {payload:list}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":120,"wires":[[]]},{"id":"2485375b.e31b88","type":"change","z":"fdb8a8d6.5b00a8","g":"7fdc4b45.becb04","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["b7395fe0.ec447"]]},{"id":"ad9805b1.f781b8","type":"subflow:fdb8a8d6.5b00a8","z":"6a170be9.feff64","name":"","x":360,"y":1260,"wires":[[]]},{"id":"74e40294.67a46c","type":"subflow:70d628fa.d97768","z":"6a170be9.feff64","name":"","x":370,"y":1200,"wires":[[]]}]