four dataset.json
[{"id":"9207ef94.de2c9","type":"http request","z":"6a170be9.feff64","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.61:8080/FROST-Server/v1.0/Datastreams(21226)/Observations ","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":160,"wires":[["b176af25.ef74d"]]},{"id":"6568473d.df2608","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["9207ef94.de2c9"]]},{"id":"b176af25.ef74d","type":"function","z":"6a170be9.feff64","name":"","func":"var count = msg.payload.value.length - 20;\nvar result = msg.payload.value[count].result;\nvar time = msg.payload.value[count].resultTime;\nvar list = [];\nvar tlist =[];\n\nwhile(count < msg.payload.value.length){\n    result = msg.payload.value[count].result;\n    time = msg.payload.value[count].resultTime;\n    time = time.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list.push(result);\n    tlist.push(time);\n    count++;\n}\n\nmsg.payload ={\n    \"time\":tlist,\n    \"dataset\": list\n}\n\nvar resultlist = flow.get('list')||0;\nflow.set('list',list);\nvar gettime = flow.get('timelist')||0;\nflow.set('timelist',tlist);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[["7ba17126.d9cdc"]]},{"id":"300ebbb5.649314","type":"http in","z":"6a170be9.feff64","name":"","url":"/thefuck","method":"get","upload":false,"swaggerDoc":"","x":90,"y":20,"wires":[["78a21cb3.5dcf24"]]},{"id":"78a21cb3.5dcf24","type":"function","z":"6a170be9.feff64","name":"","func":"var list = flow.get('list')||0;\nvar list2 = flow.get('list2')||0;\nvar list3 = flow.get('list3')||0;\nvar list4 = flow.get('list4')||0;\n\nvar timelist = flow.get('timelist')||0;\n\n\nmsg.payload ={\n    \"dataset\": list,\n    \"dataset2\":list2,\n    \"dataset3\":list3,\n    \"dataset4\":list4,\n    \n    \"time\":timelist\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":80,"wires":[["aefca57e.e45ee8"]]},{"id":"7ba17126.d9cdc","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"624a2.fffc7b5e","type":"template","z":"6a170be9.feff64","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>Mitac smart building</title>\n<!-- chartjs -->\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js\"></script>\n</head>\n<body>\n<div style = \"text-align: center;\">\n    \n<div style=\"position: relative; height:20vh; width:40vw; display: inline-block;\">\n    <canvas id=\"myChart\" style=\"display: block\" ></canvas>\n</div>\n\n<div style=\"position: relative; height:20vh; width:40vw; display: inline-block;\">\n    <canvas id=\"myChart2\" style=\"display: block\" ></canvas>\n</div>\n\n</div>\n\n\n<div style = \"margin:5%; text-align: center;\">\n    <h1 style=\"color:white\">second line</h1>\n</div>\n\n<div style = \"text-align: center; display:block;\">\n    \n<div style=\"position: relative; height:20vh; width:40vw; display: inline-block;\">\n    <canvas id=\"myChart3\" ></canvas>\n</div>\n\n<div style=\"position: relative; height:20vh; width:40vw; display: inline-block;\">\n    <canvas id=\"myChart4\" ></canvas>\n</div>\n\n</div>\n\n</div>\n\n\n<script>\n{{{payload.chart1}}}\n</script>\n\n<script>\n{{{payload.chart2}}}\n</script>\n\n<script>\n{{{payload.chart3}}}\n</script>\n\n<script>\n{{{payload.chart4}}}\n</script>\n\n</body>\n</html>","output":"str","x":870,"y":120,"wires":[["7753dafa.5664d4"]]},{"id":"4b7b1840.76a1f8","type":"http request","z":"6a170be9.feff64","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.61:8080/FROST-Server/v1.0/Datastreams(21224)/Observations ","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":200,"wires":[["b96742c4.8b001"]]},{"id":"903e04d7.910e48","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":200,"wires":[["4b7b1840.76a1f8"]]},{"id":"b96742c4.8b001","type":"function","z":"6a170be9.feff64","name":"","func":"var count = msg.payload.value.length - 20;\nvar result = msg.payload.value[count].result;\nvar time = msg.payload.value[count].resultTime;\nvar list2 = [];\nvar tlist2 = []\n\nwhile(count < msg.payload.value.length){\n    result2 = msg.payload.value[count].result;\n    time2 = msg.payload.value[count].resultTime;\n    time2 = time2.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list2.push(result2);\n    tlist2.push(time2);\n    count++;\n}\n\nmsg.payload ={\n    \"time2\":tlist2,\n    \"dataset2\": list2\n}\n\nvar resultlist = flow.get('list2')||0;\nflow.set('list2',list2);\nvar gettime = flow.get('timelist2')||0;\nflow.set('timelist2',tlist2);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":200,"wires":[["bec54b2f.796e28"]]},{"id":"bec54b2f.796e28","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"a3dd2897.5a42a8","type":"template","z":"6a170be9.feff64","name":"add new chart2","field":"payload.chart2","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var chartColors = {\n  red: 'rgb(255, 99, 132)',\n  orange: 'rgb(255, 159, 64)',\n  yellow: 'rgb(255, 205, 86)',\n  green: 'rgb(75, 192, 192)',\n  blue: 'rgb(54, 162, 235)',\n  purple: 'rgb(153, 102, 255)',\n  grey: 'rgb(231,233,237)'\n};\n\nvar config2 = {\n  type: 'line',\n  data: {\n    labels: [\n         \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\"\n        ],\n    datasets: [{\n      label: \"data\",\n      backgroundColor: chartColors.blue,\n      borderColor: chartColors.blue,\n      data: [\n          {{{payload.dataset2}}}\n      ],\n      fill: false,\n    }\n    \n    ]\n  },\n  options: {\n    // responsive: true,\n    title: {\n      display: true,\n      text: 'second dataset'\n    },\n    tooltips: {\n      mode: 'label',\n    },\n    hover: {\n      mode: 'nearest',\n      intersect: true\n    },\n    scales: {\n      {{!--xAxes: [{--}}\n      {{!--  display: true,--}}\n      {{!--  scaleLabel: {--}}\n      {{!--    display: true,--}}\n      {{!--    labelString: 'Month'--}}\n      {{!--  }--}}\n      {{!--}],--}}\n      yAxes: [{\n        display: true,\n        scaleLabel: {\n          display: true,\n          labelString: 'Value'\n        }\n      }]\n    }\n  }\n};\n\nvar ctx2 = document.getElementById(\"myChart2\").getContext(\"2d\");\nwindow.myLine = new Chart(ctx2, config2);","output":"str","x":640,"y":40,"wires":[["6cd8fb62.5fea14"]]},{"id":"6cd8fb62.5fea14","type":"template","z":"6a170be9.feff64","name":"add chart1","field":"payload.chart1","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var chartColors = {\n  red: 'rgb(255, 99, 132)',\n  orange: 'rgb(255, 159, 64)',\n  yellow: 'rgb(255, 205, 86)',\n  green: 'rgb(75, 192, 192)',\n  blue: 'rgb(54, 162, 235)',\n  purple: 'rgb(153, 102, 255)',\n  grey: 'rgb(231,233,237)'\n};\n\nvar config = {\n  type: 'line',\n  data: {\n    labels: [\n         \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\"\n        ],\n    datasets: [{\n      label: \"first data\",\n      backgroundColor: chartColors.red,\n      borderColor: chartColors.red,\n      data: [\n          {{{payload.dataset}}}\n      ],\n      fill: false,\n    }\n    \n    ]\n  },\n  options: {\n    // responsive: true,\n    title: {\n      display: true,\n      text: 'first data set'\n    },\n    tooltips: {\n      mode: 'label',\n    },\n    hover: {\n      mode: 'nearest',\n      intersect: true\n    },\n    scales: {\n    //   xAxes: [{\n    //     display: true,\n    //     scaleLabel: {\n    //       display: true,\n    //       labelString: 'Month'\n    //     }\n    //   }],\n      yAxes: [{\n        display: true,\n        scaleLabel: {\n          display: true,\n          labelString: 'Value'\n        }\n      }]\n    }\n  }\n};\n\nvar ctx = document.getElementById(\"myChart\").getContext(\"2d\");\nwindow.myLine = new Chart(ctx, config);","output":"str","x":790,"y":80,"wires":[["624a2.fffc7b5e"]]},{"id":"d4dde7db.78e7e8","type":"http request","z":"6a170be9.feff64","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.61:8080/FROST-Server/v1.0/Datastreams(21227)/Observations ","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":260,"wires":[["4eb4770a.08cda8"]]},{"id":"1ec234d0.1b028b","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["d4dde7db.78e7e8"]]},{"id":"4eb4770a.08cda8","type":"function","z":"6a170be9.feff64","name":"","func":"var count = msg.payload.value.length - 20;\nvar result = msg.payload.value[count].result;\nvar time = msg.payload.value[count].resultTime;\nvar list3 = [];\nvar tlist3 = []\n\nwhile(count < msg.payload.value.length){\n    result3 = msg.payload.value[count].result;\n    time3 = msg.payload.value[count].resultTime;\n    time3 = time3.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list3.push(result3);\n    tlist3.push(time3);\n    count++;\n}\n\nmsg.payload ={\n    \"time3\":tlist3,\n    \"dataset3\": list3\n}\n\nvar resultlist = flow.get('list3')||0;\nflow.set('list3',list3);\nvar gettime = flow.get('timelist3')||0;\nflow.set('timelist3',tlist3);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":260,"wires":[["b2d0fdc5.9a5b5"]]},{"id":"b2d0fdc5.9a5b5","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"e39d4773.6990d8","type":"template","z":"6a170be9.feff64","name":"add new chart3","field":"payload.chart3","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var chartColors = {\n  red: 'rgb(255, 99, 132)',\n  orange: 'rgb(255, 159, 64)',\n  yellow: 'rgb(255, 205, 86)',\n  green: 'rgb(75, 192, 192)',\n  blue: 'rgb(54, 162, 235)',\n  purple: 'rgb(153, 102, 255)',\n  grey: 'rgb(231,233,237)'\n};\n\nvar config3 = {\n  type: 'line',\n  data: {\n    labels: [\n         \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\"\n        ],\n    datasets: [{\n      label: \"data\",\n      backgroundColor: chartColors.green,\n      borderColor: chartColors.green,\n      data: [\n          {{{payload.dataset3}}}\n      ],\n      fill: false,\n    }\n    \n    ]\n  },\n  options: {\n    // responsive: true,\n    title: {\n      display: true,\n      text: 'third dataset'\n    },\n    tooltips: {\n      mode: 'label',\n    },\n    hover: {\n      mode: 'nearest',\n      intersect: true\n    },\n    scales: {\n      {{!--xAxes: [{--}}\n      {{!--  display: true,--}}\n      {{!--  scaleLabel: {--}}\n      {{!--    display: true,--}}\n      {{!--    labelString: 'Month'--}}\n      {{!--  }--}}\n      {{!--}],--}}\n      yAxes: [{\n        display: true,\n        scaleLabel: {\n          display: true,\n          labelString: 'Value'\n        }\n      }]\n    }\n  }\n};\n\nvar ctx3 = document.getElementById(\"myChart3\").getContext(\"2d\");\nwindow.myLine = new Chart(ctx3, config3);","output":"str","x":580,"y":80,"wires":[["a3dd2897.5a42a8"]]},{"id":"aefca57e.e45ee8","type":"template","z":"6a170be9.feff64","name":"add new chart4","field":"payload.chart4","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var chartColors = {\n  red: 'rgb(255, 99, 132)',\n  orange: 'rgb(255, 159, 64)',\n  yellow: 'rgb(255, 205, 86)',\n  green: 'rgb(75, 192, 192)',\n  blue: 'rgb(54, 162, 235)',\n  purple: 'rgb(153, 102, 255)',\n  grey: 'rgb(231,233,237)'\n};\n\nvar config4 = {\n  type: 'line',\n  data: {\n    labels: [\n         \"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\"\n        ],\n    datasets: [{\n      label: \"data\",\n      backgroundColor: chartColors.orange,\n      borderColor: chartColors.orange,\n      data: [\n          {{{payload.dataset4}}}\n      ],\n      fill: false,\n    }\n    \n    ]\n  },\n  options: {\n    // responsive: true,\n    title: {\n      display: true,\n      text: 'fourth dataset'\n    },\n    tooltips: {\n      mode: 'label',\n    },\n    hover: {\n      mode: 'nearest',\n      intersect: true\n    },\n    scales: {\n      {{!--xAxes: [{--}}\n      {{!--  display: true,--}}\n      {{!--  scaleLabel: {--}}\n      {{!--    display: true,--}}\n      {{!--    labelString: 'Month'--}}\n      {{!--  }--}}\n      {{!--}],--}}\n      yAxes: [{\n        display: true,\n        scaleLabel: {\n          display: true,\n          labelString: 'Value'\n        }\n      }]\n    }\n  }\n};\n\nvar ctx4 = document.getElementById(\"myChart4\").getContext(\"2d\");\nwindow.myLine = new Chart(ctx4, config4);","output":"str","x":400,"y":80,"wires":[["e39d4773.6990d8"]]},{"id":"d7a21a6d.17e3a8","type":"http request","z":"6a170be9.feff64","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.61:8080/FROST-Server/v1.0/Datastreams(21225)/Observations ","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":300,"wires":[["e6820a40.168308"]]},{"id":"2edeee6a.ae8432","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":300,"wires":[["d7a21a6d.17e3a8"]]},{"id":"e6820a40.168308","type":"function","z":"6a170be9.feff64","name":"","func":"var count = msg.payload.value.length - 20;\nvar result = msg.payload.value[count].result;\nvar time = msg.payload.value[count].resultTime;\nvar list3 = [];\nvar tlist3 = []\n\nwhile(count < msg.payload.value.length){\n    result3 = msg.payload.value[count].result;\n    time3 = msg.payload.value[count].resultTime;\n    time3 = time3.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list3.push(result3);\n    tlist3.push(time3);\n    count++;\n}\n\nmsg.payload ={\n    \"time4\":tlist3,\n    \"dataset4\": list3\n}\n\nvar resultlist = flow.get('list4')||0;\nflow.set('list4',list3);\nvar gettime = flow.get('timelist4')||0;\nflow.set('timelist4',tlist3);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":300,"wires":[["fd7ae26a.4f497"]]},{"id":"fd7ae26a.4f497","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":300,"wires":[]}]