get data from OGC.json
[{"id":"72184d4c.3cef24","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":560,"wires":[]},{"id":"b4f50db.1c13cf","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":340,"wires":[["b88c8d1a.69f18"]]},{"id":"55d54286.31d7bc","type":"group","z":"6a170be9.feff64","name":"got history data","style":{"label":true,"stroke":"#ffff00","fill":"#ffffbf"},"nodes":["b88c8d1a.69f18","812ee866.59a998"],"x":74,"y":399,"w":412,"h":82},{"id":"b88c8d1a.69f18","type":"http request","z":"6a170be9.feff64","g":"55d54286.31d7bc","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.61:8080/FROST-Server/v1.0/Datastreams(21227)/Observations ","tls":"","persist":false,"proxy":"","authType":"","x":170,"y":440,"wires":[["812ee866.59a998"]]},{"id":"812ee866.59a998","type":"function","z":"6a170be9.feff64","g":"55d54286.31d7bc","name":"歷史資料取得","func":"var count = msg.payload.value.length - 100;\nvar result = msg.payload.value[count].result;\nvar time = msg.payload.value[count].resultTime;\nvar list = [];\nvar tlist = []\n\nwhile(count < msg.payload.value.length){\n    result = msg.payload.value[count].result;\n    time = msg.payload.value[count].resultTime;\n    time = time.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list.push(result);\n    tlist.push(time);\n    count++;\n}\n\nmsg.payload ={\n    \"ID\":\"ID_1\",\n    \"iot_data\": list\n}\n\nvar history = flow.get('OGCT')||0;\nflow.set('OGCT',list);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":440,"wires":[["cdb411bf.e18bd"]]},{"id":"a002aa9e.b129f8","type":"group","z":"6a170be9.feff64","name":"predic data","style":{"stroke":"#ffC000","fill":"#ffefbf","label":true},"nodes":["cdb411bf.e18bd","c1445d5e.7de7b","c90845e1.874d98","ff593c1d.19bf4"],"x":34,"y":519,"w":712,"h":82},{"id":"cdb411bf.e18bd","type":"http request","z":"6a170be9.feff64","g":"a002aa9e.b129f8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.101:8080/pred_temperature_api","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":560,"wires":[["c1445d5e.7de7b"]]},{"id":"c1445d5e.7de7b","type":"change","z":"6a170be9.feff64","g":"a002aa9e.b129f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.predictions[0].predict_series","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":560,"wires":[["ff593c1d.19bf4"]]},{"id":"c90845e1.874d98","type":"function","z":"6a170be9.feff64","g":"a002aa9e.b129f8","name":"arrage data","func":"var split =\" \"\nvar list = [];\nvar str = \"\";\n\nfor(i = 0 ; i<=msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split &&  str != split){\n        str = str.trim();\n        if(str !== \"\"){\n            str = parseFloat(str)\n            list.push(str);\n        }\n        str = \"\";\n    }\n    \n}\n\nif(str.length>0){\n    str = parseFloat(str)\n    list.push(str);\n}\n\nvar predicVal = flow.get('predicVal')||0;\nflow.set('predicVal',list);\n\nreturn {payload:list}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":560,"wires":[["72184d4c.3cef24"]]},{"id":"ff593c1d.19bf4","type":"change","z":"6a170be9.feff64","g":"a002aa9e.b129f8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":560,"wires":[["c90845e1.874d98"]]}]