get data from API.json
[{"id":"f5f83240.4691b","type":"subflow","name":"IOT token","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"c254d7e4.d25438"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"c254d7e4.d25438","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c254d7e4.d25438","type":"function","z":"f5f83240.4691b","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['miogcClientId'] = 'd2lsZGNhcmRUb2tlbg==';\nmsg.headers['Content-Type'] = 'application/json;charset=utf-8';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[[]]},{"id":"66539a24.7c9004","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":640,"wires":[["2680c571.e2730a"]]},{"id":"f8576985.9d2f98","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":720,"wires":[]},{"id":"2680c571.e2730a","type":"subflow:f5f83240.4691b","z":"6a170be9.feff64","name":"","env":[],"x":280,"y":660,"wires":[["19fb6113.06048f"]]},{"id":"ad4cc4e7.88c218","type":"group","z":"6a170be9.feff64","name":"predic data","style":{"stroke":"#ffC000","fill":"#ffefbf","label":true},"nodes":["cc8bb48e.c355e8","80ccafc2.97124","263ca4d5.d0f68c","401723ce.8ee02c"],"x":194,"y":799,"w":712,"h":82},{"id":"cc8bb48e.c355e8","type":"http request","z":"6a170be9.feff64","g":"ad4cc4e7.88c218","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.101:8080/pred_temperature_api","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":840,"wires":[["80ccafc2.97124"]]},{"id":"80ccafc2.97124","type":"change","z":"6a170be9.feff64","g":"ad4cc4e7.88c218","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.predictions[0].predict_series","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":840,"wires":[["401723ce.8ee02c"]]},{"id":"263ca4d5.d0f68c","type":"function","z":"6a170be9.feff64","g":"ad4cc4e7.88c218","name":"arrage data","func":"var split =\" \"\nvar list = [];\nvar str = \"\";\n\nfor(i = 0 ; i<=msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split &&  str != split){\n        str = str.trim();\n        if(str !== \"\"){\n            str = parseFloat(str)\n            list.push(str);\n        }\n        str = \"\";\n    }\n    \n}\n\nif(str.length>0){\n    str = parseFloat(str)\n    list.push(str);\n}\n\nvar predicVal = flow.get('predicVal')||0;\nflow.set('predicVal',list);\n\nreturn {payload:list}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":840,"wires":[["f8576985.9d2f98"]]},{"id":"401723ce.8ee02c","type":"change","z":"6a170be9.feff64","g":"ad4cc4e7.88c218","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":840,"wires":[["263ca4d5.d0f68c"]]},{"id":"d0e3f56d.bf9ee8","type":"group","z":"6a170be9.feff64","name":"got history data","style":{"label":true,"stroke":"#ffff00","fill":"#ffffbf"},"nodes":["19fb6113.06048f","b821aab.b56f858"],"x":154,"y":699,"w":392,"h":82},{"id":"19fb6113.06048f","type":"http request","z":"6a170be9.feff64","g":"d0e3f56d.bf9ee8","name":"取得溫度資料","method":"GET","ret":"obj","paytoqs":"ignore","url":"10.11.10.111:8080/api/svSummarizeValue/restful/5min?query=%5B%7B%22field%22%3A%22startTime%22%2C%22op%22%3A%22eq%22%2C%22value%22%3A%222020%2F08%2F01%22%7D%2C%0A%20%20%7B%22field%22%3A%22endTime%22%2C%22op%22%3A%22eq%22%2C%22value%22%3A%222020%2F08%2F05%22%7D%2C%0A%20%20%7B%22field%22%3A%22sampleValueConfigUnid%22%2C%22op%22%3A%22eq%22%2C%22value%22%3A%22G3F-01%7C%7CF3-TCS3001%7C%7CTemperature%7C%7Cavg%22%7D%5D","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":740,"wires":[["b821aab.b56f858"]]},{"id":"b821aab.b56f858","type":"function","z":"6a170be9.feff64","g":"d0e3f56d.bf9ee8","name":"歷史資料取得","func":"var count = msg.payload.length - 150;\n\n// var result = msg.payload.value[count].result;\nvar result = msg.payload[count].avgValue\n// var time = msg.payload.value[count].resultTime;\nvar list = [];\n// var tlist = []\n\nwhile(count < msg.payload.length){\n    result = msg.payload[count].avgValue;\n    // time = msg.payload.value[count].resultTime;\n    // time = time.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list.push(result);\n    // tlist.push(time);\n    count++;\n}\n\nmsg.payload ={\n    \"ID\":\"ID_1\",\n    \"iot_data\": list\n}\n\nvar history = flow.get('OGCT')||0;\nflow.set('OGCT',list);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":740,"wires":[["cc8bb48e.c355e8"]]}]