google calendarAPI.json
[{"id":"b3881a76.96eef8","type":"inject","z":"6dab031d.2a4c8c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["82fff8e8.10d528"]]},{"id":"e0acc999.3837e8","type":"debug","z":"6dab031d.2a4c8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":80,"wires":[]},{"id":"a2097be2.b8f9c8","type":"addEvent","z":"6dab031d.2a4c8c","google":"","calendarId2":"teyitsai@gmail.com","tittle":"Test test","description":"test","location":"","time":"07/09/2020 03:00 PM - 07/09/2020 04:00 PM","attend":"1","email1":"helentsai@mitac.com.tw","name1":"you","email2":"","name2":"","email3":"","name3":"","email4":"","name4":"","email5":"","name5":"","x":530,"y":100,"wires":[["e0acc999.3837e8"]]},{"id":"82fff8e8.10d528","type":"function","z":"6dab031d.2a4c8c","name":"","func":"msg.payload = {\n    title : \"testing the calendar\",\n    description : \"see if work\",\n    \n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":120,"wires":[["a2097be2.b8f9c8"]]}]