HelloWorldWebTest.json
[{"id":"66b52b94.ecbf84","type":"http in","z":"439552e.893b5ac","name":"","url":"/helloworld","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["db20c4f9.e54898"]]},{"id":"db20c4f9.e54898","type":"template","z":"439552e.893b5ac","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>Hello!</title>\n  </head>\n  <body>\n    <h1>Hello <span id=\"name\">{{payload.name}}</span>!</h1>\n    <p>This is my first webpage!</p>\n    <p><i>JeanCarl</i></p>\n    {{^payload.name}}\n    <script>\n      // Prompt visitor for their name.\n      var name = prompt('What is your name?');\n\n      // Populate HTML tag with ID name with visitor name.\n      document.getElementById('name').innerHTML = name;\n    </script>\n    {{/payload.name}}\n  </body>\n</html>","output":"str","x":270,"y":100,"wires":[["6942d313.0334ac"]]},{"id":"6942d313.0334ac","type":"http response","z":"439552e.893b5ac","name":"","statusCode":"","headers":{},"x":410,"y":100,"wires":[]}]