import local csv file.json
[{"id":"c4110296.77456","type":"file in","z":"6a170be9.feff64","name":"","filename":"/Users/helentsai/Desktop/demo/pred_h.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":370,"y":340,"wires":[["f04114c4.938308"]]},{"id":"41eeb377.39ce4c","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":340,"wires":[]},{"id":"92b70db2.1482f","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":340,"wires":[["c4110296.77456"]]},{"id":"cbc698f3.3e9a28","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":380,"wires":[["4dc98af6.dbec04"]]},{"id":"46350925.c90108","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":380,"wires":[]},{"id":"f04114c4.938308","type":"csv","z":"6a170be9.feff64","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":630,"y":340,"wires":[["7d0e81ca.cc6d3"]]},{"id":"24d1e717.b63378","type":"function","z":"6a170be9.feff64","name":"","func":"var count = msg.payload.length-100;\nvar result = msg.payload[count].col1\nvar list = [];\n\nwhile(count < msg.payload.length){\n    result = msg.payload[count].col1\n    list.push(result);\n    count++;\n}\n\nmsg.payload ={\n    \"dataset\": list,\n}\n\nvar resultlist = flow.get('list')||0;\nflow.set('list',list);\n// var gettime = flow.get('timelist')||0;\n// flow.set('timelist',tlist);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":340,"wires":[["41eeb377.39ce4c"]]},{"id":"7d0e81ca.cc6d3","type":"join","z":"6a170be9.feff64","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":340,"wires":[["24d1e717.b63378"]]},{"id":"4dc98af6.dbec04","type":"file in","z":"6a170be9.feff64","name":"","filename":"/Users/helentsai/Desktop/demo/history_h.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":360,"y":380,"wires":[["4b568656.f5bd68"]]},{"id":"4b568656.f5bd68","type":"csv","z":"6a170be9.feff64","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":640,"y":380,"wires":[["7db0d6e3.e610b8"]]},{"id":"7db0d6e3.e610b8","type":"join","z":"6a170be9.feff64","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":380,"wires":[["4acaf670.9c55f8"]]},{"id":"4acaf670.9c55f8","type":"function","z":"6a170be9.feff64","name":"","func":"var count = msg.payload.length-100;\nvar result = msg.payload[count].col1\nvar list = [];\n\nwhile(count < msg.payload.length){\n    result = msg.payload[count].col1\n    list.push(result);\n    count++;\n}\n\nmsg.payload ={\n    \"dataset\": list,\n}\n\nvar resultlist = flow.get('list2')||0;\nflow.set('list2',list);\n// var gettime = flow.get('timelist')||0;\n// flow.set('timelist',tlist);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":380,"wires":[["46350925.c90108"]]},{"id":"3608581f.323688","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":460,"wires":[["6b52692a.2c2758"]]},{"id":"c991f22b.72cc5","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":460,"wires":[]},{"id":"6b52692a.2c2758","type":"file in","z":"6a170be9.feff64","name":"","filename":"/Users/helentsai/Desktop/demo/pred_Temperature.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":400,"y":460,"wires":[["df4a0afb.3436f8"]]},{"id":"df4a0afb.3436f8","type":"csv","z":"6a170be9.feff64","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":460,"wires":[["f63ffe84.594ed"]]},{"id":"f63ffe84.594ed","type":"join","z":"6a170be9.feff64","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":460,"wires":[["4e9766d0.7674f8"]]},{"id":"4e9766d0.7674f8","type":"function","z":"6a170be9.feff64","name":"","func":"var count = msg.payload.length-100;\nvar result = msg.payload[count].col1\nvar list = [];\n\nwhile(count < msg.payload.length){\n    result = msg.payload[count].col1\n    list.push(result);\n    count++;\n}\n\nmsg.payload ={\n    \"dataset\": list,\n}\n\nvar resultlist = flow.get('list3')||0;\nflow.set('list3',list);\n// var gettime = flow.get('timelist')||0;\n// flow.set('timelist',tlist);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":460,"wires":[["c991f22b.72cc5"]]},{"id":"5645722e.97043c","type":"inject","z":"6a170be9.feff64","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":500,"wires":[["adff8c89.e5ffd"]]},{"id":"bf7375a4.d901f8","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":500,"wires":[]},{"id":"adff8c89.e5ffd","type":"file in","z":"6a170be9.feff64","name":"","filename":"/Users/helentsai/Desktop/demo/history_Temperature.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":500,"wires":[["7f3994db.eb8f9c"]]},{"id":"7f3994db.eb8f9c","type":"csv","z":"6a170be9.feff64","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":500,"wires":[["5e3d131a.98874c"]]},{"id":"5e3d131a.98874c","type":"join","z":"6a170be9.feff64","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":500,"wires":[["664264f.bafe09c"]]},{"id":"664264f.bafe09c","type":"function","z":"6a170be9.feff64","name":"","func":"var count = msg.payload.length-100;\nvar result = msg.payload[count].col1\nvar list = [];\n\nwhile(count < msg.payload.length){\n    result = msg.payload[count].col1\n    list.push(result);\n    count++;\n}\n\nmsg.payload ={\n    \"dataset\": list,\n}\n\nvar resultlist = flow.get('list4')||0;\nflow.set('list4',list);\n// var gettime = flow.get('timelist')||0;\n// flow.set('timelist',tlist);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":500,"wires":[["bf7375a4.d901f8"]]}]