IoT side.json
[{"id":"b454dc6e.97b7d","type":"sensor-selector","z":"89fe7153.c85f5","selectedSensor":"MitacMRS||MitacMRS-1","index":"0","x":330,"y":100,"wires":[["b324e887.cbca08"]]},{"id":"7b0610c1.9e4a7","type":"inject","z":"89fe7153.c85f5","name":"TestData","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"TestData","payload":"{\"count\":1}","payloadType":"json","x":100,"y":100,"wires":[["b454dc6e.97b7d"]]},{"id":"b324e887.cbca08","type":"join","z":"89fe7153.c85f5","name":"selectedSensors","mode":"auto","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":210,"y":220,"wires":[["1f43c431.48a2cc"]]},{"id":"1f43c431.48a2cc","type":"calculator","z":"89fe7153.c85f5","svUnid":"F1_PM210_2_MIN","script":"{\"script\":\"pre = cal.getValueByParam('previousValue');preVal = pre==null?0:pre;a = dp.getRawSensorDataList('G1F-01||F1-PM210-2');Double aActive =cal.max(a,'Energy-Active');Double aReactive =cal.max(a,'Energy-Reactive');Double aReal =aActive-aReactive;cal.setValueByParam('previousValue', (double) aReal); return (double)(aReal-preVal)\"}","sampleRate":"6000","x":420,"y":220,"wires":[["a2fad369.c00ed"]]},{"id":"a2fad369.c00ed","type":"function","z":"89fe7153.c85f5","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['miogcClientId'] = 'd2lsZGNhcmRUb2tlbg==';\nmsg.headers['Content-Type'] = 'application/json;charset=utf-8';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":220,"wires":[["a1f63f29.92d5b","d91a0b2a.7d1ca8"]]},{"id":"a1f63f29.92d5b","type":"http request","z":"89fe7153.c85f5","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://10.11.10.111:8080/api/pageConfig4NodeRed/compileSampleValue","tls":"","persist":true,"proxy":"","authType":"","x":910,"y":300,"wires":[["2ce4769e.821e8a"]]},{"id":"d91a0b2a.7d1ca8","type":"change","z":"89fe7153.c85f5","d":true,"name":"get page","rules":[{"t":"set","p":"payload","pt":"msg","to":" \"http://10.11.10.99:8080/getSampleValueTestResult/\" & $.payload.sampleValueConfigUnid","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":120,"wires":[["a32ea013.4a0ce","da0f66ec.f62968","2bb28fb4.174dc"]]},{"id":"2ce4769e.821e8a","type":"debug","z":"89fe7153.c85f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":300,"wires":[]},{"id":"a32ea013.4a0ce","type":"debug","z":"89fe7153.c85f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":60,"wires":[]},{"id":"da0f66ec.f62968","type":"exec","z":"89fe7153.c85f5","d":true,"command":"start chrome ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1210,"y":120,"wires":[[],[],[]]},{"id":"2bb28fb4.174dc","type":"exec","z":"89fe7153.c85f5","d":true,"command":"open -a \"Google Chrome\"  ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1250,"y":180,"wires":[[],[],[]]}]