loginToAPI v2.json
[{"id":"9012c592.655b98","type":"group","z":"7a0d3299.f9411c","name":"login","style":{"stroke":"#3f93cf","fill":"#bfdbef","label":true,"label-position":"nw","color":"#3f93cf"},"nodes":["b570ad99.d82ed","3eb2da01.ed3746","f32276a.c2e0788"],"x":-6,"y":299,"w":572,"h":82},{"id":"b570ad99.d82ed","type":"http request","z":"7a0d3299.f9411c","g":"9012c592.655b98","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/auth/login","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":340,"wires":[["f32276a.c2e0788"]]},{"id":"3eb2da01.ed3746","type":"inject","z":"7a0d3299.f9411c","g":"9012c592.655b98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"username\":\"admin\",\"password\":\"admin\"}","payloadType":"json","x":90,"y":340,"wires":[["b570ad99.d82ed"]]},{"id":"f32276a.c2e0788","type":"function","z":"7a0d3299.f9411c","g":"9012c592.655b98","name":"user authentication set up","func":"var idToken = msg.payload.access_token;\n\nvar flowToken = flow.get('token') || null;\nflow.set('token', msg.payload.access_token );\n\nmsg = {};\nmsg.payload = { lab_uuid:\"u97ef258\" };\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":340,"wires":[["c42df8b.ee0b008","5bab473.e0e8eb8","9273220e.c8461","df055ad8.6efec8"]]}]