loginToAPI.json
[{"id":"9bc0c848.969938","type":"http request","z":"7a0d3299.f9411c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.199.1.2/api/projects/56542808/jobs","tls":"","persist":false,"proxy":"","authType":"basic","x":710,"y":360,"wires":[["e27696f1.c9d688"]]},{"id":"e27696f1.c9d688","type":"debug","z":"7a0d3299.f9411c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":500,"wires":[]},{"id":"b570ad99.d82ed","type":"http request","z":"7a0d3299.f9411c","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://10.199.1.2/api/auth/login","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":240,"wires":[["f32276a.c2e0788"]]},{"id":"8b579db9.17c35","type":"debug","z":"7a0d3299.f9411c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":140,"wires":[]},{"id":"3eb2da01.ed3746","type":"inject","z":"7a0d3299.f9411c","name":"","topic":"","payload":"{\"username\":\"admin_1\",\"password\":\"admin_1\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":240,"wires":[["b570ad99.d82ed"]]},{"id":"43dd785e.e09fc8","type":"debug","z":"7a0d3299.f9411c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":200,"wires":[]},{"id":"df055ad8.6efec8","type":"http request","z":"7a0d3299.f9411c","name":"執行job","method":"POST","ret":"txt","paytoqs":false,"url":"http://10.199.1.2/api/jobs","tls":"","persist":false,"proxy":"","authType":"basic","x":600,"y":300,"wires":[["43dd785e.e09fc8","9bc0c848.969938"]]},{"id":"f32276a.c2e0788","type":"function","z":"7a0d3299.f9411c","name":"user authentication set up ","func":"var idToken = msg.payload.access_token;\nmsg = {};\nmsg.payload = { lab_uuid:\"u02ce83c\" };\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["8b579db9.17c35","df055ad8.6efec8"]]},{"id":"4b602010.c5182","type":"comment","z":"7a0d3299.f9411c","name":"for login","info":"","x":60,"y":200,"wires":[]}]