login training and display.json
[{"id":"423363c5.2b20bc","type":"debug","z":"7a0d3299.f9411c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":320,"wires":[]},{"id":"5bab473.e0e8eb8","type":"http request","z":"7a0d3299.f9411c","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/datasets","tls":"","persist":false,"proxy":"","authType":"basic","x":690,"y":340,"wires":[["985440b1.d89bd","423363c5.2b20bc"]]},{"id":"f32276a.c2e0788","type":"function","z":"7a0d3299.f9411c","g":"9012c592.655b98","name":"user authentication set up","func":"var idToken = msg.payload.access_token;\n\nvar flowToken = flow.get('token') || null;\nflow.set('token', msg.payload.access_token );\n\nmsg = {};\nmsg.payload = { lab_uuid:\"u97ef258\" };\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":340,"wires":[["5bab473.e0e8eb8","9273220e.c8461","df055ad8.6efec8"]]},{"id":"985440b1.d89bd","type":"function","z":"7a0d3299.f9411c","name":"set bucket_name to flow value","func":"var bucketName = msg.payload[3].bucket.name; //change this one to the right path\n\n// put into the flow value\nvar bucket = flow.get('bucket_name')||0;\nflow.get('bucket_name',bucketName);\n\nmsg.payload = { bucket_Name: bucketName};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":360,"wires":[["393f8b98.7620c4"]]},{"id":"b570ad99.d82ed","type":"http request","z":"7a0d3299.f9411c","g":"9012c592.655b98","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/auth/login","tls":"","persist":false,"proxy":"","authType":"","x":230,"y":340,"wires":[["f32276a.c2e0788"]]},{"id":"9273220e.c8461","type":"http request","z":"7a0d3299.f9411c","g":"185194a9.5e17ab","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://10.199.1.2/api/objects/download/ds_5289a4db/test1.jpg","tls":"","persist":false,"proxy":"","authType":"basic","x":730,"y":480,"wires":[["a673c3ae.926fc"]]},{"id":"df055ad8.6efec8","type":"http request","z":"7a0d3299.f9411c","g":"9021400a.8b2ec","name":"job trainning","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/jobs","tls":"","persist":false,"proxy":"","authType":"basic","x":790,"y":220,"wires":[["32051eff.780fe2"]]},{"id":"393f8b98.7620c4","type":"debug","z":"7a0d3299.f9411c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":340,"wires":[]},{"id":"3eb2da01.ed3746","type":"inject","z":"7a0d3299.f9411c","g":"9012c592.655b98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"username\":\"admin\",\"password\":\"admin\"}","payloadType":"json","x":90,"y":340,"wires":[["b570ad99.d82ed"]]},{"id":"a673c3ae.926fc","type":"image viewer","z":"7a0d3299.f9411c","g":"185194a9.5e17ab","name":"","width":"300","data":"payload","dataType":"msg","x":890,"y":480,"wires":[["c78c7dfb.acf9c"]]},{"id":"32051eff.780fe2","type":"function","z":"7a0d3299.f9411c","g":"9021400a.8b2ec","name":"trainning id to flow","func":"var id = flow.get('id')||0;\nflow.set('id', msg.payload.id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":220,"wires":[["43dd785e.e09fc8"]]},{"id":"c78c7dfb.acf9c","type":"debug","z":"7a0d3299.f9411c","g":"185194a9.5e17ab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":480,"wires":[]},{"id":"43dd785e.e09fc8","type":"debug","z":"7a0d3299.f9411c","g":"9021400a.8b2ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":220,"wires":[]}]