mosq whole project with subflow.json
[{"id":"7b521e26.12ad6","type":"subflow","name":"get bucket name","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"cf30df4b.7995c"}]}],"out":[{"x":640,"y":80,"wires":[{"id":"b1f45284.4dc38","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"cf30df4b.7995c","type":"http request","z":"7b521e26.12ad6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/datasets","tls":"","persist":false,"proxy":"","authType":"basic","x":190,"y":80,"wires":[["b1f45284.4dc38"]]},{"id":"b1f45284.4dc38","type":"function","z":"7b521e26.12ad6","name":"set bucket_name to flow value","func":"var bucketName = msg.payload[3].bucket.name; //change this one to the right path\n\n// put into the flow value\nvar bucket = global.get('bucket_name')||0;\nglobal.get('bucket_name',bucketName);\n\nmsg.payload = { bucket_Name: bucketName};\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":80,"wires":[[]]},{"id":"e745819f.52385","type":"subflow","name":"checking training status","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"5cc5612e.fc36f"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"b2a49e17.b16db","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b2a49e17.b16db","type":"http request","z":"e745819f.52385","name":"job trainning check","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/jobs/{{{topic}}}","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":80,"wires":[[]]},{"id":"5cc5612e.fc36f","type":"function","z":"e745819f.52385","name":"","func":"var idToken = global.get('token');\nvar id = global.get('id');\n\nmsg.headers = {\n    Authorization:\"Bearer \" + idToken\n};\nmsg.topic = id\n\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":80,"wires":[["b2a49e17.b16db"]]},{"id":"9be8d7cf.b63ab8","type":"subflow","name":"login","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"36ded570.ecfe4a"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"3f3b2e2c.f7d112","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3f3b2e2c.f7d112","type":"function","z":"9be8d7cf.b63ab8","name":"user authentication set up","func":"var idToken = msg.payload.access_token;\n\nvar flowToken = global.get('token') || null;\nglobal.set('token', msg.payload.access_token );\n\nmsg = {};\nmsg.payload = { lab_uuid:\"u97ef258\" };\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":80,"wires":[[]]},{"id":"36ded570.ecfe4a","type":"http request","z":"9be8d7cf.b63ab8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/auth/login","tls":"","persist":false,"proxy":"","authType":"","x":190,"y":80,"wires":[["3f3b2e2c.f7d112"]]},{"id":"96634859.4c34d8","type":"subflow","name":"training","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"99b12f2d.e2e82"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"1ca95e3b.411332","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"99b12f2d.e2e82","type":"http request","z":"96634859.4c34d8","name":"job trainning","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/jobs","tls":"","persist":false,"proxy":"","authType":"basic","x":190,"y":80,"wires":[["1ca95e3b.411332"]]},{"id":"1ca95e3b.411332","type":"function","z":"96634859.4c34d8","name":"trainning id to flow","func":"var id = global.get('id')||0;\nglobal.set('id', msg.payload.id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[[]]},{"id":"3c96344f.3f9fac","type":"inject","z":"f560aa23.96e558","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"60","topic":"","payload":"token","payloadType":"global","x":110,"y":100,"wires":[["648f9722.41fd78"]]},{"id":"ad41b647.397498","type":"debug","z":"f560aa23.96e558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":160,"wires":[]},{"id":"b49a6157.49f35","type":"switch","z":"f560aa23.96e558","name":"alart if it's done","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"done","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":680,"y":80,"wires":[["4fbbe3b.3bd011c"]]},{"id":"4fbbe3b.3bd011c","type":"debug","z":"f560aa23.96e558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":60,"wires":[]},{"id":"cf12c4ff.177478","type":"comment","z":"f560aa23.96e558","name":"also display when it's waiting","info":"","x":920,"y":100,"wires":[]},{"id":"7e1d43bd.7cfeac","type":"debug","z":"f560aa23.96e558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":340,"wires":[]},{"id":"d800e07f.81fd6","type":"inject","z":"f560aa23.96e558","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"username\":\"admin\",\"password\":\"admin\"}","payloadType":"json","x":110,"y":260,"wires":[["28462b82.b79784"]]},{"id":"2f7b256f.e93bea","type":"debug","z":"f560aa23.96e558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":260,"wires":[]},{"id":"5bc09a60.b70e94","type":"subflow:96634859.4c34d8","z":"f560aa23.96e558","name":"","env":[],"x":540,"y":260,"wires":[["2f7b256f.e93bea"]],"icon":"node-red/status.svg"},{"id":"28462b82.b79784","type":"subflow:9be8d7cf.b63ab8","z":"f560aa23.96e558","name":"","env":[],"x":330,"y":280,"wires":[["39d1b17e.bd186e","11b830d8.500d3f","5bc09a60.b70e94"]],"icon":"font-awesome/fa-user-circle-o"},{"id":"648f9722.41fd78","type":"subflow:e745819f.52385","z":"f560aa23.96e558","name":"","env":[],"x":390,"y":100,"wires":[["b49a6157.49f35","ad41b647.397498"]],"icon":"font-awesome/fa-map-o"},{"id":"11b830d8.500d3f","type":"subflow:7b521e26.12ad6","z":"f560aa23.96e558","x":570,"y":340,"wires":[["7e1d43bd.7cfeac"]]},{"id":"2c9c59c3.2756a6","type":"group","z":"f560aa23.96e558","name":"dowload and display","style":{"stroke":"#ffff00","fill":"#ffffbf","label":true,"label-position":"nw","color":"#000000"},"nodes":["39d1b17e.bd186e","d98760ff.5b98a","845e6c83.5c033"],"x":474,"y":419,"w":532,"h":82},{"id":"39d1b17e.bd186e","type":"http request","z":"f560aa23.96e558","g":"2c9c59c3.2756a6","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://10.199.1.2/api/objects/download/ds_5289a4db/test1.jpg","tls":"","persist":false,"proxy":"","authType":"basic","x":570,"y":460,"wires":[["d98760ff.5b98a"]]},{"id":"d98760ff.5b98a","type":"image viewer","z":"f560aa23.96e558","g":"2c9c59c3.2756a6","name":"","width":"300","data":"payload","dataType":"msg","x":730,"y":460,"wires":[["845e6c83.5c033"]]},{"id":"845e6c83.5c033","type":"debug","z":"f560aa23.96e558","g":"2c9c59c3.2756a6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":460,"wires":[]}]