mosqWebTest.json
[{"id":"79e567cb.7c1938","type":"http in","z":"6dab031d.2a4c8c","name":"","url":"/mysitepost","method":"post","upload":false,"swaggerDoc":"","x":190,"y":720,"wires":[["20aba015.00c84","9a99b481.768418"]]},{"id":"20aba015.00c84","type":"debug","z":"6dab031d.2a4c8c","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":720,"wires":[]},{"id":"85b86ded.15866","type":"http response","z":"6dab031d.2a4c8c","name":"","statusCode":"","headers":{},"x":850,"y":680,"wires":[]},{"id":"9e5b2076.f3232","type":"template","z":"6dab031d.2a4c8c","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":570,"y":620,"wires":[["fb8680f6.a5b4c"]]},{"id":"19c50a3e.013886","type":"http response","z":"6dab031d.2a4c8c","name":"","statusCode":"","headers":{},"x":850,"y":620,"wires":[]},{"id":"fb8680f6.a5b4c","type":"template","z":"6dab031d.2a4c8c","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Using CSS to style an HTML form with AJAX POST and Node-RED</h2>\n    <h4><a href=\"http://www.internetoflego.com\">Internet of LEGO</a></h4>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">First Name</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Last Name</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":710,"y":620,"wires":[["19c50a3e.013886"]]},{"id":"9b9cc088.7687a","type":"function","z":"6dab031d.2a4c8c","name":"return msg.payload to client","func":"msg.payload = 'The following data was submitted and available in the msg.payload: '+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":680,"wires":[["85b86ded.15866"]]},{"id":"9a99b481.768418","type":"json","z":"6dab031d.2a4c8c","name":"","property":"payload","action":"","pretty":false,"x":390,"y":680,"wires":[["9b9cc088.7687a"]]},{"id":"1fe1656c.ec041b","type":"comment","z":"6dab031d.2a4c8c","name":"Form Submission","info":"","x":180,"y":660,"wires":[]}]