P2.json
[{"id":"f5f83240.4691b","type":"subflow","name":"IOT token","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"c254d7e4.d25438"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"c254d7e4.d25438","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c254d7e4.d25438","type":"function","z":"f5f83240.4691b","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['miogcClientId'] = 'd2lsZGNhcmRUb2tlbg==';\nmsg.headers['Content-Type'] = 'application/json;charset=utf-8';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[[]]},{"id":"ff9532f6.c21e4","type":"subflow","name":"歷史資料取得及傳送","info":"","category":"","in":[{"x":180,"y":80,"wires":[{"id":"b1717179.27a6c"}]}],"out":[{"x":820,"y":240,"wires":[{"id":"cdfa57d0.978d08","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b1717179.27a6c","type":"function","z":"ff9532f6.c21e4","name":"encode URL ","func":"var startTime = msg.payload.startTime\nvar endTime = msg.payload.endTime\nvar useSensor = msg.payload.useSensor\n\nvar urlBodyStr = JSON.stringify([{\"field\":\"startTime\",\"op\":\"eq\",\"value\":startTime},{\"field\":\"endTime\",\"op\":\"eq\",\"value\":endTime},{\"field\":\"sampleValueConfigUnid\",\"op\":\"eq\",\"value\":useSensor}]);\nvar encodedBody = encodeURIComponent(urlBodyStr);\n\nmsg.encode = encodedBody;\n// msg.headers = {};\n// msg.headers['miogcClientId'] = 'd2lsZGNhcmRUb2tlbg==';\n// msg.headers['Content-Type'] = 'application/json;charset=utf-8';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[["74adb041.3b854"]]},{"id":"74adb041.3b854","type":"subflow:f5f83240.4691b","z":"ff9532f6.c21e4","name":"","env":[],"x":460,"y":120,"wires":[["c169b57f.d19128"]]},{"id":"c169b57f.d19128","type":"http request","z":"ff9532f6.c21e4","name":"資料下載","method":"GET","ret":"obj","paytoqs":"ignore","url":"10.11.10.111:8080/api/svSummarizeValue/restful/5min?query={{{encode}}}","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":160,"wires":[["cdfa57d0.978d08"]]},{"id":"cdfa57d0.978d08","type":"function","z":"ff9532f6.c21e4","name":"歷史資料取得","func":"var count = msg.payload.length - 138;\n\n// var result = msg.payload.value[count].result;\nvar result = msg.payload[count].avgValue\n// var time = msg.payload.value[count].resultTime;\nvar list = [];\n// var tlist = []\n\nwhile(count < msg.payload.length){\n    result = msg.payload[count].avgValue;\n    // time = msg.payload.value[count].resultTime;\n    // time = time.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list.push(result);\n    // tlist.push(time);\n    count++;\n}\n\nmsg.payload ={\n    \"ID\":\"ID_1\",\n    \"iot_data\": list\n}\n\n// var history = flow.get('OGCT')||0;\n// flow.set('OGCT',list);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":200,"wires":[[]]},{"id":"e04fedca.be3c7","type":"comment","z":"ff9532f6.c21e4","name":"將傳入的設定值format成api格式並encode URL","info":"","x":440,"y":40,"wires":[]},{"id":"2ad4a21b.8f848e","type":"comment","z":"ff9532f6.c21e4","name":"header 放入 token","info":"","x":530,"y":80,"wires":[]},{"id":"e9ece15d.68f43","type":"comment","z":"ff9532f6.c21e4","name":"將設定好的encode url 加入至api 中取得所要的data","info":"將設定好的 encode url 加入至api 中\n\n10.11.10.111:8080/api/svSummarizeValue/restful/5min?query={{{encode}}}","x":750,"y":120,"wires":[]},{"id":"f77d1bd2.940808","type":"comment","z":"ff9532f6.c21e4","name":"將取得的資料放入array format 成Machine learning 的input","info":"","x":890,"y":160,"wires":[]},{"id":"ecbc268f.555838","type":"inject","z":"6a170be9.feff64","name":"取得溫度感測器資料","props":[{"p":"payload.startTime","v":"2020/08/24","vt":"str"},{"p":"payload.endTime","v":"2020/08/28","vt":"str"},{"p":"payload.useSensor","v":"G3F-01||F3-TCS3001||Temperature||avg","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":920,"wires":[["c7dcc7c6.9ee0a8"]]},{"id":"7e1c4b25.537c64","type":"inject","z":"6a170be9.feff64","name":"取得溫度感測器資料","props":[{"p":"payload.startTime","v":"2020/08/24","vt":"str"},{"p":"payload.endTime","v":"2020/08/28","vt":"str"},{"p":"payload.useSensor","v":"G3F-01||F3-TCS3001||Temperature||avg","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":1060,"wires":[["45fe6208.26fa4c"]]},{"id":"7b815aa4.d36244","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"predicelect","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":980,"wires":[["520da31c.fbe35c"]]},{"id":"520da31c.fbe35c","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":980,"wires":[]},{"id":"5b804ae4.bdcec4","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"historyelect","pt":"global","to":"payload.iot_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":920,"wires":[["bfa8716c.8b901"]]},{"id":"bfa8716c.8b901","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":920,"wires":[]},{"id":"bdc790b4.21ea7","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"predicTemG","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":1120,"wires":[["2a5c2651.3d30fa"]]},{"id":"2a5c2651.3d30fa","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":1120,"wires":[]},{"id":"31592f4e.544ba","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"historyTemG","pt":"global","to":"payload.iot_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1060,"wires":[["bf905149.6b1b6"]]},{"id":"bf905149.6b1b6","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1060,"wires":[]},{"id":"1ee3a721.365929","type":"comment","z":"6a170be9.feff64","name":"chart3","info":"","x":670,"y":880,"wires":[]},{"id":"80b16c44.04e3b","type":"comment","z":"6a170be9.feff64","name":"chart4","info":"","x":690,"y":1020,"wires":[]},{"id":"c7dcc7c6.9ee0a8","type":"subflow:ff9532f6.c21e4","z":"6a170be9.feff64","name":"","x":400,"y":920,"wires":[["5b804ae4.bdcec4"]]},{"id":"45fe6208.26fa4c","type":"subflow:ff9532f6.c21e4","z":"6a170be9.feff64","name":"","x":420,"y":1060,"wires":[["31592f4e.544ba"]]}]