presentation 時間序列.json
[{"id":"fdb8a8d6.5b00a8","type":"subflow","name":"選擇cnn模型預測（溫度）","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"79573ec2.633af"}]}],"out":[{"x":960,"y":120,"wires":[{"id":"b7395fe0.ec447","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"79573ec2.633af","type":"http request","z":"fdb8a8d6.5b00a8","g":"7fdc4b45.becb04","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.101:8080/pred_temperature_cnn_api","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["3e3ffc72.2ad554"]]},{"id":"3e3ffc72.2ad554","type":"change","z":"fdb8a8d6.5b00a8","g":"7fdc4b45.becb04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.predictions[0].predict_series","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["2485375b.e31b88"]]},{"id":"b7395fe0.ec447","type":"function","z":"fdb8a8d6.5b00a8","g":"7fdc4b45.becb04","name":"arrage data","func":"var split =\" \"\nvar list = [];\nvar str = \"\";\n\nfor(i = 0 ; i<=msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split &&  str != split){\n        str = str.trim();\n        if(str !== \"\"){\n            str = parseFloat(str)\n            list.push(str);\n        }\n        str = \"\";\n    }\n    \n}\n\nif(str.length>0){\n    str = parseFloat(str)\n    list.push(str);\n}\n\n// var predicVal = flow.get('predicVal')||0;\n// flow.set('predicVal',list);\n\nreturn {payload:list}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":120,"wires":[[]]},{"id":"2485375b.e31b88","type":"change","z":"fdb8a8d6.5b00a8","g":"7fdc4b45.becb04","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["b7395fe0.ec447"]]},{"id":"70d628fa.d97768","type":"subflow","name":"選擇gru模型預測（溫度）","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"4159c133.bd308"}]}],"out":[{"x":960,"y":120,"wires":[{"id":"19eec81d.6ec4f8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4159c133.bd308","type":"http request","z":"70d628fa.d97768","g":"90773a77.6b92d8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.101:8080/pred_gru_api","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["56f35b10.649e34"]]},{"id":"56f35b10.649e34","type":"change","z":"70d628fa.d97768","g":"90773a77.6b92d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.predictions[0].predict_series","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["67885a51.c45534"]]},{"id":"19eec81d.6ec4f8","type":"function","z":"70d628fa.d97768","g":"90773a77.6b92d8","name":"arrage data","func":"var split =\" \"\nvar list = [];\nvar str = \"\";\n\nfor(i = 0 ; i<=msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split &&  str != split){\n        str = str.trim();\n        if(str !== \"\"){\n            str = parseFloat(str)\n            list.push(str);\n        }\n        str = \"\";\n    }\n    \n}\n\nif(str.length>0){\n    str = parseFloat(str)\n    list.push(str);\n}\n\n// var predicVal = flow.get('predicVal')||0;\n// flow.set('predicVal',list);\n\nreturn {payload:list}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":120,"wires":[[]]},{"id":"67885a51.c45534","type":"change","z":"70d628fa.d97768","g":"90773a77.6b92d8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["19eec81d.6ec4f8"]]},{"id":"fb2edd58.fc2a7","type":"subflow","name":"選擇CNN 模型","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"9c464535.d7d728"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"c6f5f969.6babe8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c6f5f969.6babe8","type":"function","z":"fb2edd58.fc2a7","name":"user authentication set up","func":"//取得token\nvar idToken = msg.payload.access_token;\n\n//這邊將token設定為global方便check status\nvar flowToken = global.get('token') || null;\nglobal.set('token', msg.payload.access_token );\n\nmsg = {};\n//傳入要training 的lab id\nmsg.payload = { lab_uuid:\"ud69ab18\" };\nmsg.headers = {};\n\n//token 轉換至node red 的 token header 格式\nmsg.headers['Authorization'] = \"Bearer \" + idToken;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":80,"wires":[[]]},{"id":"9c464535.d7d728","type":"http request","z":"fb2edd58.fc2a7","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/auth/login","tls":"","persist":false,"proxy":"","authType":"","x":190,"y":80,"wires":[["c6f5f969.6babe8"]]},{"id":"dece6d.4529019","type":"subflow","name":"選擇cnn_lstm模型預測（溫度）","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"db427db9.e031e"}]}],"out":[{"x":960,"y":120,"wires":[{"id":"f598071a.4d0078","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"db427db9.e031e","type":"http request","z":"dece6d.4529019","g":"30a542bc.74e2ce","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.101:8080/pred_temperature_api","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["a3fb0a90.948598"]]},{"id":"a3fb0a90.948598","type":"change","z":"dece6d.4529019","g":"30a542bc.74e2ce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.predictions[0].predict_series","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["bd0f0bd7.1b4b98"]]},{"id":"f598071a.4d0078","type":"function","z":"dece6d.4529019","g":"30a542bc.74e2ce","name":"arrage data","func":"var split =\" \"\nvar list = [];\nvar str = \"\";\n\nfor(i = 0 ; i<=msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split &&  str != split){\n        str = str.trim();\n        if(str !== \"\"){\n            str = parseFloat(str)\n            list.push(str);\n        }\n        str = \"\";\n    }\n    \n}\n\nif(str.length>0){\n    str = parseFloat(str)\n    list.push(str);\n}\n\n// var predicVal = flow.get('predicVal')||0;\n// flow.set('predicVal',list);\n\nreturn {payload:list}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":120,"wires":[[]]},{"id":"bd0f0bd7.1b4b98","type":"change","z":"dece6d.4529019","g":"30a542bc.74e2ce","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["f598071a.4d0078"]]},{"id":"459fdf1b.b1446","type":"subflow","name":"濕度預測","info":"","category":"","in":[{"x":140,"y":120,"wires":[{"id":"b4a6129a.55e64"}]}],"out":[{"x":940,"y":240,"wires":[{"id":"5587cdc1.20b554","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b4a6129a.55e64","type":"http request","z":"459fdf1b.b1446","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.101:8080/pred_humidity_api","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["11a9b11.39a314f"]]},{"id":"11a9b11.39a314f","type":"change","z":"459fdf1b.b1446","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.predictions[0].predict_series","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["99f2e79b.454338"]]},{"id":"5587cdc1.20b554","type":"function","z":"459fdf1b.b1446","name":"arrage data","func":"var split =\" \"\nvar list = [];\nvar str = \"\";\n\nfor(i = 0 ; i<=msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split &&  str != split){\n        str = str.trim();\n        if(str !== \"\"){\n            str = parseFloat(str)\n            list.push(str);\n        }\n        str = \"\";\n    }\n    \n}\n\nif(str.length>0){\n    str = parseFloat(str)\n    list.push(str);\n}\n\n// var predicVal = flow.get('predicVal')||0;\n// flow.set('predicVal',list);\n\nreturn {payload:list}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":240,"wires":[[]]},{"id":"99f2e79b.454338","type":"change","z":"459fdf1b.b1446","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":200,"wires":[["5587cdc1.20b554"]]},{"id":"bea2c56f.f1a588","type":"comment","z":"459fdf1b.b1446","name":"將資料傳入Machine learning 的api","info":"","x":360,"y":80,"wires":[]},{"id":"df325976.556228","type":"comment","z":"459fdf1b.b1446","name":"取得需要的資料放入payload中","info":"","x":510,"y":120,"wires":[]},{"id":"5f6516cf.9dc408","type":"comment","z":"459fdf1b.b1446","name":"將獲去的 string 資料去除 [ ]","info":"","x":670,"y":160,"wires":[]},{"id":"2bdc4f5d.44c51","type":"comment","z":"459fdf1b.b1446","name":"將資料整理成chart 所要的 fomate 後放入array中","info":"","x":920,"y":200,"wires":[]},{"id":"e47eb5be.580fb8","type":"subflow","name":"啟動ＡＩ模型","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"5b507a7f.b626e4"}]}],"out":[{"x":580,"y":80,"wires":[{"id":"f4acd5b6.89e618","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5b507a7f.b626e4","type":"http request","z":"e47eb5be.580fb8","name":"job trainning","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.199.1.2/api/jobs","tls":"","persist":false,"proxy":"","authType":"basic","x":190,"y":80,"wires":[["f4acd5b6.89e618"]]},{"id":"f4acd5b6.89e618","type":"function","z":"e47eb5be.580fb8","name":"trainning id to flow","func":"var id = global.get('id')||0;\nglobal.set('id', msg.payload.id);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[[]]},{"id":"f5f83240.4691b","type":"subflow","name":"IOT token","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"c254d7e4.d25438"}]}],"out":[{"x":380,"y":80,"wires":[{"id":"c254d7e4.d25438","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c254d7e4.d25438","type":"function","z":"f5f83240.4691b","name":"set payload and headers","func":"msg.headers = {};\nmsg.headers['miogcClientId'] = 'd2lsZGNhcmRUb2tlbg==';\nmsg.headers['Content-Type'] = 'application/json;charset=utf-8';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[[]]},{"id":"ff9532f6.c21e4","type":"subflow","name":"歷史資料取得及傳送","info":"","category":"","in":[{"x":180,"y":80,"wires":[{"id":"b1717179.27a6c"}]}],"out":[{"x":820,"y":240,"wires":[{"id":"cdfa57d0.978d08","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b1717179.27a6c","type":"function","z":"ff9532f6.c21e4","name":"encode URL ","func":"var startTime = msg.payload.startTime\nvar endTime = msg.payload.endTime\nvar useSensor = msg.payload.useSensor\n\nvar urlBodyStr = JSON.stringify([{\"field\":\"startTime\",\"op\":\"eq\",\"value\":startTime},{\"field\":\"endTime\",\"op\":\"eq\",\"value\":endTime},{\"field\":\"sampleValueConfigUnid\",\"op\":\"eq\",\"value\":useSensor}]);\nvar encodedBody = encodeURIComponent(urlBodyStr);\n\nmsg.encode = encodedBody;\n// msg.headers = {};\n// msg.headers['miogcClientId'] = 'd2lsZGNhcmRUb2tlbg==';\n// msg.headers['Content-Type'] = 'application/json;charset=utf-8';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[["74adb041.3b854"]]},{"id":"74adb041.3b854","type":"subflow:f5f83240.4691b","z":"ff9532f6.c21e4","name":"","env":[],"x":460,"y":120,"wires":[["c169b57f.d19128"]]},{"id":"c169b57f.d19128","type":"http request","z":"ff9532f6.c21e4","name":"資料下載","method":"GET","ret":"obj","paytoqs":"ignore","url":"10.11.10.111:8080/api/svSummarizeValue/restful/5min?query={{{encode}}}","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":160,"wires":[["cdfa57d0.978d08"]]},{"id":"cdfa57d0.978d08","type":"function","z":"ff9532f6.c21e4","name":"歷史資料取得","func":"var count = msg.payload.length - 138;\n\n// var result = msg.payload.value[count].result;\nvar result = msg.payload[count].avgValue\n// var time = msg.payload.value[count].resultTime;\nvar list = [];\n// var tlist = []\n\nwhile(count < msg.payload.length){\n    result = msg.payload[count].avgValue;\n    // time = msg.payload.value[count].resultTime;\n    // time = time.substring(11, 16).toString()\n    // var format = {\n    //     \"x\": time ,\n    //     \"y\": result\n    // }\n    list.push(result);\n    // tlist.push(time);\n    count++;\n}\n\nmsg.payload ={\n    \"ID\":\"ID_1\",\n    \"iot_data\": list\n}\n\n// var history = flow.get('OGCT')||0;\n// flow.set('OGCT',list);\n\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":200,"wires":[[]]},{"id":"e04fedca.be3c7","type":"comment","z":"ff9532f6.c21e4","name":"將傳入的設定值format成api格式並encode URL","info":"","x":440,"y":40,"wires":[]},{"id":"2ad4a21b.8f848e","type":"comment","z":"ff9532f6.c21e4","name":"header 放入 token","info":"","x":530,"y":80,"wires":[]},{"id":"e9ece15d.68f43","type":"comment","z":"ff9532f6.c21e4","name":"將設定好的encode url 加入至api 中取得所要的data","info":"將設定好的 encode url 加入至api 中\n\n10.11.10.111:8080/api/svSummarizeValue/restful/5min?query={{{encode}}}","x":750,"y":120,"wires":[]},{"id":"f77d1bd2.940808","type":"comment","z":"ff9532f6.c21e4","name":"將取得的資料放入array format 成Machine learning 的input","info":"","x":890,"y":160,"wires":[]},{"id":"300ebbb5.649314","type":"http in","z":"6a170be9.feff64","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":80,"wires":[["78a21cb3.5dcf24"]]},{"id":"7753dafa.5664d4","type":"http response","z":"6a170be9.feff64","name":"","statusCode":"","headers":{},"x":1330,"y":240,"wires":[]},{"id":"78a21cb3.5dcf24","type":"function","z":"6a170be9.feff64","name":"彙整資料","func":"var list = global.get('list')||0;\nvar list2 = global.get('list2')||0;\nvar list3 = global.get('list3')||0;\nvar list4 = global.get('list4')||0;\n\n\n//get data from global\nvar predicVal = flow.get('predicVal')||0;\nvar history = flow.get('OGCT')||0;\n\n//humidity data\nvar historyHum = global.get('historyHum')||0;\nvar predicHum = global.get('predicHum')||0\n\n//Temperature\nvar historyTem = global.get('historyTem')||0;\nvar predicTem = global.get('predicTem')||0;\n\n//electicity\nvar historyelect = global.get('historyelect')||0;\nvar predicelect = global.get('predicelect')||0;\n\n//Temperature GRU\nvar historyTemG = global.get('historyTemG')||0;\nvar predicTemG = global.get('predicTemG')||0;\n\n\nvar timelist = global.get('timelist')||0;\n\n\nmsg.payload ={\n    \"dataset\": historyHum,\n    \"predicData\":predicHum,\n    \n    \"dataset2\":historyTem,\n    \"predicData2\":predicTem,\n    \n    \"dataset3\":historyelect,\n    \"predicData3\":predicelect,\n    \n    \"dataset4\":historyTemG,\n    \"predicData4\":predicTemG,\n    // \"dataset3\":list3,\n    // \"dataset4\":list4,\n    \n    \n    \"time\":timelist\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":120,"wires":[["cbfeea91.7b57b8"]]},{"id":"624a2.fffc7b5e","type":"template","z":"6a170be9.feff64","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>Mitac smart building</title>\n<!-- chartjs -->\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js\"></script>\n</head>\n<body>\n    \n    <div style = \"text-align: center;\">\n        <div style=\"position: relative; height:40h; width:80vw; display: inline-block; margin-right: 20px\">\n            <canvas id=\"myChart\" style=\"display: block\" ></canvas>\n        </div>\n    </div>\n\n\n<div style = \"margin:5%; text-align: center;\">\n    <h5 style=\"color:white\">second line</h5>\n</div>\n\n    <div style = \"text-align: center; display:block;\">\n        <div style=\"position: relative; height:40h; width:80vw; display: inline-block; margin-right: 20px\">\n            <canvas id=\"myChart3\" ></canvas>\n        </div>\n    </div>\n\n\n<div style = \"margin:5%; text-align: center;\">\n    <h5 style=\"color:white\">thired line</h5>\n</div>\n\n<div style = \"text-align: center; display:block;\">\n    <div style=\"position: relative; height:40h; width:80vw; display: inline-block; margin-right: 20px\">\n        <canvas id=\"myChart5\" ></canvas>\n    </div>\n</div>\n\n<div style = \"margin:5%; text-align: center;\">\n    <h5 style=\"color:white\">four line</h5>\n</div>\n\n<div style = \"text-align: center; display:block;\">\n    <div style=\"position: relative; height:40h; width:80vw; display: inline-block; margin-right: 20px\">\n        <canvas id=\"myChart7\" ></canvas>\n    </div>\n</div>\n\n\n\n\n\n<script>\n{{{payload.chart1}}}\n</script>\n\n\n\n<script>\n{{{payload.chart3}}}\n</script>\n\n\n\n<script>\n{{{payload.chart5}}}\n</script>\n\n\n<script>\n{{{payload.chart7}}}\n</script>\n\n\n\n</body>\n</html>","output":"str","x":1210,"y":240,"wires":[["7753dafa.5664d4"]]},{"id":"cbfeea91.7b57b8","type":"template","z":"6a170be9.feff64","name":"add chart","field":"payload.chart1","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var chartColors = {\n  red: 'rgb(255, 99, 132)',\n  orange: 'rgb(255, 159, 64)',\n  yellow: 'rgb(255, 205, 86)',\n  green: 'rgb(75, 192, 192)',\n  blue: 'rgb(54, 162, 235)',\n  purple: 'rgb(153, 102, 255)',\n  grey: 'rgb(231,233,237)'\n};\n\nvar config = {\n  type: 'line',\n  data: {\n    labels: [\n         \"1\", \"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\",\"22\",\"23\",\"24\",\"25\",\"26\",\"27\",\"28\",\"29\",\"30\",\"31\",\"32\",\"33\",\"34\",\"35\",\"36\",\"37\",\"38\",\"39\",\"40\",\"41\",\"42\",\"43\",\"44\",\"45\",\"46\",\"47\",\"48\",\"49\",\"50\",\"51\",\"52\",\"53\",\"54\",\"55\",\"56\",\"57\",\"58\",\"59\",\"60\",\"61\",\"62\",\"63\",\"64\",\"65\",\"66\",\"67\",\"68\",\"69\",\"70\",\"71\",\"72\",\"73\",\"74\",\"75\",\"76\",\"77\",\"78\",\"79\",\"80\",\"81\",\"82\",\"83\",\"84\",\"85\",\"86\",\"87\",\"88\",\"89\",\"90\",\"91\",\"92\",\"93\",\"94\",\"95\",\"96\",\"97\",\"98\",\"99\",\"100\",\"101\",\"102\",\"103\",\"104\",\"105\",\"106\",\"107\",\"108\",\"109\",\"110\",\"111\",\"112\",\"113\",\"114\",\"115\",\"116\",\"117\",\"118\",\"119\",\"120\",\"121\",\"122\",\"123\",\"124\",\"125\",\"126\",\"127\",\"128\",\"129\",\"130\",\"131\",\"132\",\"133\",\"134\",\"135\",\"136\",\"137\",\"138\",\"139\",\"140\",\"141\",\"142\",\"143\",\"144\",\"145\",\"146\",\"147\",\"148\",\"149\"\n        ],\n    datasets: [{\n      label: \"history data\",\n      backgroundColor: chartColors.red,\n      borderColor: chartColors.red,\n      data: [\n          {{{payload.dataset}}}\n      ],\n      fill: false,\n    },{\n      label: \"predic data\",\n      fill: false,\n      backgroundColor: chartColors.blue,\n      borderColor: chartColors.blue,\n      data: [\n        {{{payload.predicData}}}\n      ],\n    }\n    \n    ]\n  },\n  options: {\n    // responsive: true,\n    title: {\n      display: true,\n      text: 'humidity'\n    },\n    tooltips: {\n      mode: 'label',\n    },\n    hover: {\n      mode: 'nearest',\n      intersect: true\n    },\n    scales: {\n       xAxes: [{\n         display: false,\n         {{!--scaleLabel: {--}}\n         {{!--  display: false,--}}\n         {{!--  labelString: 'Month'--}}\n         {{!--}--}}\n       }],\n      yAxes: [{\n        display: true,\n        scaleLabel: {\n          display: true,\n          labelString: 'Value'\n        }\n      }]\n    }\n  }\n};\n\nvar ctx = document.getElementById(\"myChart\").getContext(\"2d\");\nwindow.myLine = new Chart(ctx, config);","output":"str","x":460,"y":160,"wires":[["5fdea361.62377c"]]},{"id":"5fdea361.62377c","type":"template","z":"6a170be9.feff64","name":"add another chart","field":"payload.chart3","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var chartColors = {\n  red: 'rgb(255, 99, 132)',\n  orange: 'rgb(255, 159, 64)',\n  yellow: 'rgb(255, 205, 86)',\n  green: 'rgb(75, 192, 192)',\n  blue: 'rgb(54, 162, 235)',\n  purple: 'rgb(153, 102, 255)',\n  grey: 'rgb(231,233,237)'\n};\n\nvar config3 = {\n  type: 'line',\n  data: {\n    labels: [\n         \"1\", \"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\",\"22\",\"23\",\"24\",\"25\",\"26\",\"27\",\"28\",\"29\",\"30\",\"31\",\"32\",\"33\",\"34\",\"35\",\"36\",\"37\",\"38\",\"39\",\"40\",\"41\",\"42\",\"43\",\"44\",\"45\",\"46\",\"47\",\"48\",\"49\",\"50\",\"51\",\"52\",\"53\",\"54\",\"55\",\"56\",\"57\",\"58\",\"59\",\"60\",\"61\",\"62\",\"63\",\"64\",\"65\",\"66\",\"67\",\"68\",\"69\",\"70\",\"71\",\"72\",\"73\",\"74\",\"75\",\"76\",\"77\",\"78\",\"79\",\"80\",\"81\",\"82\",\"83\",\"84\",\"85\",\"86\",\"87\",\"88\",\"89\",\"90\",\"91\",\"92\",\"93\",\"94\",\"95\",\"96\",\"97\",\"98\",\"99\",\"100\",\"101\",\"102\",\"103\",\"104\",\"105\",\"106\",\"107\",\"108\",\"109\",\"110\",\"111\",\"112\",\"113\",\"114\",\"115\",\"116\",\"117\",\"118\",\"119\",\"120\",\"121\",\"122\",\"123\",\"124\",\"125\",\"126\",\"127\",\"128\",\"129\",\"130\",\"131\",\"132\",\"133\",\"134\",\"135\",\"136\",\"137\",\"138\",\"139\",\"140\",\"141\",\"142\",\"143\",\"144\",\"145\",\"146\",\"147\",\"148\",\"149\"\n        ],\n    datasets: [{\n      label: \"history data\",\n      backgroundColor: chartColors.green,\n      borderColor: chartColors.green,\n      data: [\n          {{{payload.dataset2}}}\n      ],\n      fill: false,\n    },{\n      label: \"predic data\",\n      fill: false,\n      backgroundColor: chartColors.blue,\n      borderColor: chartColors.blue,\n      data: [\n        {{{payload.predicData2}}}\n      ],\n    }\n    \n    ]\n  },\n  options: {\n    // responsive: true,\n    title: {\n      display: true,\n      text: 'temperature dataset'\n    },\n    tooltips: {\n      mode: 'label',\n    },\n    hover: {\n      mode: 'nearest',\n      intersect: true\n    },\n    scales: {\n      xAxes: [{\n        display: false,\n      }],\n      yAxes: [{\n        display: true,\n        scaleLabel: {\n          display: true,\n          labelString: 'Value'\n        }\n      }]\n    }\n  }\n};\n\nvar ctx3 = document.getElementById(\"myChart3\").getContext(\"2d\");\nwindow.myLine = new Chart(ctx3, config3);","output":"str","x":630,"y":200,"wires":[["72ec0890.ab6238"]]},{"id":"499cf7c3.76a868","type":"inject","z":"6a170be9.feff64","name":"取得濕度感測器資料","props":[{"p":"payload.startTime","v":"2020/08/01","vt":"str"},{"p":"payload.endTime","v":"2020/08/05","vt":"str"},{"p":"payload.useSensor","v":"G3F-01||F3-TCS3001||Humidity||avg","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":360,"wires":[["cdf500e4.ba395"]]},{"id":"1718f6b1.e88a89","type":"comment","z":"6a170be9.feff64","name":"打入使用的sensor 及想預測的時間","info":"打入使用的sensor 及想預測的時間\n之後的node 會自動轉換成 encode URL\n","x":200,"y":320,"wires":[]},{"id":"590595fb.5d8f6c","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"predicHum","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":440,"wires":[["1ce5975a.248829"]]},{"id":"a9114058.205ff","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"predicTem","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":540,"wires":[["88269543.5e27a8"]]},{"id":"1ce5975a.248829","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":440,"wires":[]},{"id":"88269543.5e27a8","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":540,"wires":[]},{"id":"98e3b9ca.7ca238","type":"inject","z":"6a170be9.feff64","name":"輸入帳號及密碼","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"username\":\"admin\",\"password\":\"admin\"}","payloadType":"json","x":240,"y":940,"wires":[["2272ac55.008704"]]},{"id":"f3daa705.6a8038","type":"inject","z":"6a170be9.feff64","name":"取得溫度感測器資料","props":[{"p":"payload.startTime","v":"2020/08/01","vt":"str"},{"p":"payload.endTime","v":"2020/08/05","vt":"str"},{"p":"payload.useSensor","v":"G3F-01||F3-TCS3001||Temperature||avg","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":500,"wires":[["e34f1de4.d5f38"]]},{"id":"cd7bc58f.c9be28","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"historyTem","pt":"global","to":"payload.iot_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":500,"wires":[["64baf83c.a5a9a8"]]},{"id":"64baf83c.a5a9a8","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":500,"wires":[]},{"id":"cd6ef46a.4da3a8","type":"comment","z":"6a170be9.feff64","name":"建立展示網頁 localhost:1880/data","info":"","x":260,"y":40,"wires":[]},{"id":"cdf500e4.ba395","type":"subflow:ff9532f6.c21e4","z":"6a170be9.feff64","name":"","env":[],"x":400,"y":360,"wires":[["a838f7c7.60e6f8","2a43bd6f.69f242"]]},{"id":"e34f1de4.d5f38","type":"subflow:ff9532f6.c21e4","z":"6a170be9.feff64","name":"","env":[],"x":410,"y":500,"wires":[["cd7bc58f.c9be28","b79c9ea5.f4609"]]},{"id":"2272ac55.008704","type":"subflow:e47eb5be.580fb8","z":"6a170be9.feff64","name":"","x":560,"y":940,"wires":[["e029654b.19c0a8"]]},{"id":"e029654b.19c0a8","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":940,"wires":[]},{"id":"a838f7c7.60e6f8","type":"subflow:459fdf1b.b1446","z":"6a170be9.feff64","name":"","env":[],"x":600,"y":400,"wires":[["590595fb.5d8f6c"]]},{"id":"b79c9ea5.f4609","type":"subflow:dece6d.4529019","z":"6a170be9.feff64","name":"","env":[],"x":690,"y":540,"wires":[["a9114058.205ff"]]},{"id":"56aae56.f32ac1c","type":"comment","z":"6a170be9.feff64","name":"取得各項global資料，並整理傳給之後的node","info":"取得各項global資料","x":430,"y":80,"wires":[]},{"id":"7b16e3c4.5b57fc","type":"comment","z":"6a170be9.feff64","name":"第一個chart的展示javascript檔","info":"","x":520,"y":120,"wires":[]},{"id":"5757dc8e.5daf54","type":"comment","z":"6a170be9.feff64","name":"第二個chart的展示javascript檔","info":"","x":660,"y":160,"wires":[]},{"id":"10e7beeb.eebdf1","type":"comment","z":"6a170be9.feff64","name":"html檔整合前兩個chart跟data pass in","info":"","x":950,"y":140,"wires":[]},{"id":"cd9f7b7a.06eff8","type":"comment","z":"6a170be9.feff64","name":"將資料轉換成global data 以便網站獲取","info":"","x":690,"y":280,"wires":[]},{"id":"e71bb881.f75be8","type":"comment","z":"6a170be9.feff64","name":"將歷史資料傳入machine learning API 獲取預測值","info":"","x":720,"y":360,"wires":[]},{"id":"68c74818.5e2928","type":"comment","z":"6a170be9.feff64","name":"將資料轉換成global data 以便網站獲取","info":"","x":830,"y":400,"wires":[]},{"id":"ecbc268f.555838","type":"inject","z":"6a170be9.feff64","name":"取得溫度感測器資料","props":[{"p":"payload.startTime","v":"2020/08/24","vt":"str"},{"p":"payload.endTime","v":"2020/08/28","vt":"str"},{"p":"payload.useSensor","v":"G3F-01||F3-TCS3001||Temperature||avg","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":620,"wires":[["4c50e4a8.28644c"]]},{"id":"4c50e4a8.28644c","type":"subflow:ff9532f6.c21e4","z":"6a170be9.feff64","name":"","env":[],"x":360,"y":620,"wires":[["6a37cc79.d15b74","ee6af799.440098"]]},{"id":"3494ef12.204c3","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":320,"wires":[]},{"id":"2a43bd6f.69f242","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"historyHum","pt":"global","to":"payload.iot_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":320,"wires":[["3494ef12.204c3"]]},{"id":"81201f90.e2c69","type":"inject","z":"6a170be9.feff64","name":"輸入帳號及密碼","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"username\":\"admin\",\"password\":\"admin\"}","payloadType":"json","x":180,"y":1020,"wires":[["90a5fbb4.430358"]]},{"id":"90a5fbb4.430358","type":"subflow:fb2edd58.fc2a7","z":"6a170be9.feff64","name":"","env":[],"x":410,"y":1020,"wires":[["8b66e1e.710ef2"]]},{"id":"8b66e1e.710ef2","type":"subflow:e47eb5be.580fb8","z":"6a170be9.feff64","name":"","x":640,"y":1020,"wires":[["feae7fe9.d8d4"]]},{"id":"feae7fe9.d8d4","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":1020,"wires":[]},{"id":"72ec0890.ab6238","type":"template","z":"6a170be9.feff64","name":"add the third chart","field":"payload.chart5","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var chartColors = {\n  red: 'rgb(255, 99, 132)',\n  orange: 'rgb(255, 159, 64)',\n  yellow: 'rgb(255, 205, 86)',\n  green: 'rgb(75, 192, 192)',\n  blue: 'rgb(54, 162, 235)',\n  purple: 'rgb(153, 102, 255)',\n  grey: 'rgb(231,233,237)'\n};\n\nvar config5 = {\n  type: 'line',\n  data: {\n    labels: [\n         \"1\", \"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\",\"22\",\"23\",\"24\",\"25\",\"26\",\"27\",\"28\",\"29\",\"30\",\"31\",\"32\",\"33\",\"34\",\"35\",\"36\",\"37\",\"38\",\"39\",\"40\",\"41\",\"42\",\"43\",\"44\",\"45\",\"46\",\"47\",\"48\",\"49\",\"50\",\"51\",\"52\",\"53\",\"54\",\"55\",\"56\",\"57\",\"58\",\"59\",\"60\",\"61\",\"62\",\"63\",\"64\",\"65\",\"66\",\"67\",\"68\",\"69\",\"70\",\"71\",\"72\",\"73\",\"74\",\"75\",\"76\",\"77\",\"78\",\"79\",\"80\",\"81\",\"82\",\"83\",\"84\",\"85\",\"86\",\"87\",\"88\",\"89\",\"90\",\"91\",\"92\",\"93\",\"94\",\"95\",\"96\",\"97\",\"98\",\"99\",\"100\",\"101\",\"102\",\"103\",\"104\",\"105\",\"106\",\"107\",\"108\",\"109\",\"110\",\"111\",\"112\",\"113\",\"114\",\"115\",\"116\",\"117\",\"118\",\"119\",\"120\",\"121\",\"122\",\"123\",\"124\",\"125\",\"126\",\"127\",\"128\",\"129\",\"130\",\"131\",\"132\",\"133\",\"134\",\"135\",\"136\",\"137\",\"138\",\"139\",\"140\",\"141\",\"142\",\"143\",\"144\",\"145\",\"146\",\"147\",\"148\",\"149\"\n        ],\n    datasets: [{\n      label: \"history data\",\n      backgroundColor: chartColors.purple,\n      borderColor: chartColors.purple,\n      data: [\n          {{{payload.dataset3}}}\n      ],\n      fill: false,\n    },{\n      label: \"predic data\",\n      fill: false,\n      backgroundColor: chartColors.red,\n      borderColor: chartColors.red,\n      data: [\n        {{{payload.predicData3}}}\n      ],\n    }\n    \n    ]\n  },\n  options: {\n    // responsive: true,\n    title: {\n      display: true,\n      text: 'Temperature CNN'\n    },\n    tooltips: {\n      mode: 'label',\n    },\n    hover: {\n      mode: 'nearest',\n      intersect: true\n    },\n    scales: {\n       xAxes: [{\n         display: false,\n       }],\n      yAxes: [{\n        display: true,\n        scaleLabel: {\n          display: true,\n          labelString: 'Value'\n        }\n      }]\n    }\n  }\n};\n\nvar ctx = document.getElementById(\"myChart5\").getContext(\"2d\");\nwindow.myLine = new Chart(ctx, config5);","output":"str","x":850,"y":220,"wires":[["75db271d.ee7d18"]]},{"id":"4e95f007.232dc","type":"subflow:70d628fa.d97768","z":"6a170be9.feff64","name":"","env":[],"x":650,"y":820,"wires":[["7333b4cd.326aec"]]},{"id":"6303dfe0.82583","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"predicelect","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":680,"wires":[["ec1f3f5c.7e309"]]},{"id":"ec1f3f5c.7e309","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":680,"wires":[]},{"id":"6a37cc79.d15b74","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"historyelect","pt":"global","to":"payload.iot_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":620,"wires":[["ac55a6e7.134768"]]},{"id":"ac55a6e7.134768","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":620,"wires":[]},{"id":"ee6af799.440098","type":"subflow:fdb8a8d6.5b00a8","z":"6a170be9.feff64","name":"","env":[],"x":670,"y":680,"wires":[["6303dfe0.82583"]]},{"id":"75db271d.ee7d18","type":"template","z":"6a170be9.feff64","name":"add the third chart","field":"payload.chart7","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"var chartColors = {\n  red: 'rgb(255, 99, 132)',\n  orange: 'rgb(255, 159, 64)',\n  yellow: 'rgb(255, 205, 86)',\n  green: 'rgb(75, 192, 192)',\n  blue: 'rgb(54, 162, 235)',\n  purple: 'rgb(153, 102, 255)',\n  grey: 'rgb(231,233,237)'\n};\n\nvar config7 = {\n  type: 'line',\n  data: {\n    labels: [\n         \"1\", \"2\",\"3\",\"4\",\"5\",\"6\",\"7\",\"8\",\"9\",\"10\",\"11\",\"12\",\"13\",\"14\",\"15\",\"16\",\"17\",\"18\",\"19\",\"20\",\"22\",\"23\",\"24\",\"25\",\"26\",\"27\",\"28\",\"29\",\"30\",\"31\",\"32\",\"33\",\"34\",\"35\",\"36\",\"37\",\"38\",\"39\",\"40\",\"41\",\"42\",\"43\",\"44\",\"45\",\"46\",\"47\",\"48\",\"49\",\"50\",\"51\",\"52\",\"53\",\"54\",\"55\",\"56\",\"57\",\"58\",\"59\",\"60\",\"61\",\"62\",\"63\",\"64\",\"65\",\"66\",\"67\",\"68\",\"69\",\"70\",\"71\",\"72\",\"73\",\"74\",\"75\",\"76\",\"77\",\"78\",\"79\",\"80\",\"81\",\"82\",\"83\",\"84\",\"85\",\"86\",\"87\",\"88\",\"89\",\"90\",\"91\",\"92\",\"93\",\"94\",\"95\",\"96\",\"97\",\"98\",\"99\",\"100\",\"101\",\"102\",\"103\",\"104\",\"105\",\"106\",\"107\",\"108\",\"109\",\"110\",\"111\",\"112\",\"113\",\"114\",\"115\",\"116\",\"117\",\"118\",\"119\",\"120\",\"121\",\"122\",\"123\",\"124\",\"125\",\"126\",\"127\",\"128\",\"129\",\"130\",\"131\",\"132\",\"133\",\"134\",\"135\",\"136\",\"137\",\"138\",\"139\",\"140\",\"141\",\"142\",\"143\",\"144\",\"145\",\"146\",\"147\",\"148\",\"149\"\n        ],\n    datasets: [{\n      label: \"history data\",\n      backgroundColor: chartColors.green,\n      borderColor: chartColors.green,\n      data: [\n          {{{payload.dataset4}}}\n      ],\n      fill: false,\n    },{\n      label: \"predic data\",\n      fill: false,\n      backgroundColor: chartColors.red,\n      borderColor: chartColors.red,\n      data: [\n        {{{payload.predicData4}}}\n      ],\n    }\n    \n    ]\n  },\n  options: {\n    // responsive: true,\n    title: {\n      display: true,\n      text: 'Temperature GRU'\n    },\n    tooltips: {\n      mode: 'label',\n    },\n    hover: {\n      mode: 'nearest',\n      intersect: true\n    },\n    scales: {\n       xAxes: [{\n         display: false,\n       }],\n      yAxes: [{\n        display: true,\n        scaleLabel: {\n          display: true,\n          labelString: 'Value'\n        }\n      }]\n    }\n  }\n};\n\nvar ctx = document.getElementById(\"myChart7\").getContext(\"2d\");\nwindow.myLine = new Chart(ctx, config7);","output":"str","x":1050,"y":180,"wires":[["624a2.fffc7b5e"]]},{"id":"7333b4cd.326aec","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"predicTemG","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":820,"wires":[["6d3358d7.342aa8"]]},{"id":"6d3358d7.342aa8","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":820,"wires":[]},{"id":"1ce96806.b62c98","type":"change","z":"6a170be9.feff64","name":"","rules":[{"t":"set","p":"historyTemG","pt":"global","to":"payload.iot_data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":760,"wires":[["c48f0f6a.e57f9"]]},{"id":"c48f0f6a.e57f9","type":"debug","z":"6a170be9.feff64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":760,"wires":[]},{"id":"1d64f257.1c8bbe","type":"subflow:ff9532f6.c21e4","z":"6a170be9.feff64","name":"","x":400,"y":780,"wires":[["4e95f007.232dc","1ce96806.b62c98"]]},{"id":"7e1c4b25.537c64","type":"inject","z":"6a170be9.feff64","name":"取得溫度感測器資料","props":[{"p":"payload.startTime","v":"2020/08/24","vt":"str"},{"p":"payload.endTime","v":"2020/08/28","vt":"str"},{"p":"payload.useSensor","v":"G3F-01||F3-TCS3001||Temperature||avg","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":780,"wires":[["1d64f257.1c8bbe"]]}]