車流展示加上說明.json
[{"id":"fea9f556.8d2d28","type":"subflow","name":"Live","info":"","category":"","in":[{"x":0,"y":80,"wires":[{"id":"c8f622b.94365e"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"c8f622b.94365e","type":"ui_template","z":"fea9f556.8d2d28","group":"c9b29837.7b2bc8","name":"Just a view of cameras","order":1,"width":"22","height":"15","format":"<!DOCTYPE html>\n<html>\n<style>\nimg {\n    /*margin-top:10px;*/\n    border: 1px solid #ddd;\n    border-radius: 8px;\n    padding: 2px;\n    width: 900px;\n}\n</style>\n\n<script type=\"text/javascript\">\nscope.$watch('msg', function(msg) {\n    inMessage(msg.payload);\n});\n\nfunction updatePic() {\n    document.getElementById('c51').src = \"http://192.168.24.38:5002/video_feed\";\n}\n\nfunction inMessage(event) {\n    if (event.match('checkWeb')) {\n        updatePic();\n    }\n}\n\n</script>\n<div style=\"text-align: right; margin-top:20px;\">\n    <h1 class=\"mt-5\">Live Streaming Demonstration</h1>\n\t<img src=\"\" id=\"c51\" />\n</div>\n</html>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":190,"y":80,"wires":[[]]},{"id":"c9b29837.7b2bc8","type":"ui_group","z":"","name":"LiveVideo","tab":"4ea03281.699b3c","order":1,"disp":false,"width":"35","collapse":false},{"id":"4ea03281.699b3c","type":"ui_tab","z":"","name":"LiveVideo","icon":"dashboard","disabled":false,"hidden":false},{"id":"c006daaf.3ee358","type":"inject","z":"91efe5fc.8594d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"checkWeb","payloadType":"str","x":130,"y":80,"wires":[["2cc8e143.b5de5e"]]},{"id":"61dfc536.88a22c","type":"mqtt in","z":"91efe5fc.8594d8","name":"","topic":"demo/car","qos":"2","datatype":"json","broker":"975def1e.ed318","x":80,"y":180,"wires":[["abd57354.0fc93","b325b454.61a2b8","491a9d4f.bea694"]]},{"id":"2cc8e143.b5de5e","type":"subflow:fea9f556.8d2d28","z":"91efe5fc.8594d8","name":"","env":[],"x":470,"y":80,"wires":[]},{"id":"975ad226.54fd9","type":"ui_chart","z":"91efe5fc.8594d8","name":"","group":"c9b29837.7b2bc8","order":8,"width":"7","height":"4","label":"car data display","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":180,"wires":[[]]},{"id":"a2347843.e482d8","type":"ui_chart","z":"91efe5fc.8594d8","name":"","group":"c9b29837.7b2bc8","order":8,"width":"7","height":"4","label":"truck data display","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"10","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":220,"wires":[[]]},{"id":"7e0ef8d.bbd3c08","type":"ui_chart","z":"91efe5fc.8594d8","name":"","group":"c9b29837.7b2bc8","order":8,"width":"7","height":"4","label":"bus data display","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"10","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":260,"wires":[[]]},{"id":"abd57354.0fc93","type":"change","z":"91efe5fc.8594d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.car","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":180,"wires":[["975ad226.54fd9"]]},{"id":"b325b454.61a2b8","type":"change","z":"91efe5fc.8594d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.truck","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":220,"wires":[["a2347843.e482d8"]]},{"id":"491a9d4f.bea694","type":"change","z":"91efe5fc.8594d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.bus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":260,"wires":[["7e0ef8d.bbd3c08"]]},{"id":"a9f3f642.1c9198","type":"comment","z":"91efe5fc.8594d8","name":"inject trigger 每秒鐘trigger 得到當下的即時影像","info":"inject trigger 每秒鐘trigger 得到當下的即時影像","x":220,"y":40,"wires":[]},{"id":"26ec1e58.95c912","type":"comment","z":"91efe5fc.8594d8","name":"內含一個template 放置一個ＨＴＭＬ檔放圖片影像","info":"內含一個template 放置一個ＨＴＭＬ檔放圖片影像","x":610,"y":40,"wires":[]},{"id":"379c8f4f.dc9d8","type":"comment","z":"91efe5fc.8594d8","name":"使用ＭＱＴＴ取得ＭＬ數據","info":"使用ＭＱＴＴ取得ＭＬ數據\n\ntopic : demo/car\nserver : 10.11.10.98\nport : 8084","x":130,"y":140,"wires":[]},{"id":"dc28ec1e.9cf04","type":"comment","z":"91efe5fc.8594d8","name":"set  payload = payload.car","info":"payload 的 object 包含 payload.car, payload.truck, payload.bus 將之分開展示，\nex: set  payload = payload.car","x":430,"y":140,"wires":[]},{"id":"23287654.d0c15a","type":"comment","z":"91efe5fc.8594d8","name":"chart 顯示於\bdeshboard","info":"Group 使用與影像同樣的就會顯示在同一個頁面\n目前顯示的size 參數為7X4\nY-axis 可依data 去做調整","x":690,"y":140,"wires":[]},{"id":"a1f7459f.0def78","type":"comment","z":"91efe5fc.8594d8","name":"顯示網址 localhost:1880/ui","info":"","x":130,"y":280,"wires":[]},{"id":"975def1e.ed318","type":"mqtt-broker","z":"","name":"","broker":"10.11.10.98","port":"8084","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]