預測node解釋.json
[{"id":"b4a6129a.55e64","type":"http request","z":"459fdf1b.b1446","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://10.11.10.101:8080/pred_humidity_api","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["11a9b11.39a314f"]]},{"id":"11a9b11.39a314f","type":"change","z":"459fdf1b.b1446","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.predictions[0].predict_series","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":160,"wires":[["99f2e79b.454338"]]},{"id":"5587cdc1.20b554","type":"function","z":"459fdf1b.b1446","name":"arrage data","func":"var split =\" \"\nvar list = [];\nvar str = \"\";\n\nfor(i = 0 ; i<=msg.payload.length; i++){\n    str += msg.payload.charAt(i);\n    if(msg.payload.charAt(i) == split &&  str != split){\n        str = str.trim();\n        if(str !== \"\"){\n            str = parseFloat(str)\n            list.push(str);\n        }\n        str = \"\";\n    }\n    \n}\n\nif(str.length>0){\n    str = parseFloat(str)\n    list.push(str);\n}\n\n// var predicVal = flow.get('predicVal')||0;\n// flow.set('predicVal',list);\n\nreturn {payload:list}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":240,"wires":[[]]},{"id":"99f2e79b.454338","type":"change","z":"459fdf1b.b1446","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"[","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"]","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":200,"wires":[["5587cdc1.20b554"]]},{"id":"bea2c56f.f1a588","type":"comment","z":"459fdf1b.b1446","name":"將資料傳入Machine learning 的api","info":"","x":360,"y":80,"wires":[]},{"id":"df325976.556228","type":"comment","z":"459fdf1b.b1446","name":"取得需要的資料放入payload中","info":"","x":510,"y":120,"wires":[]},{"id":"5f6516cf.9dc408","type":"comment","z":"459fdf1b.b1446","name":"將獲去的 string 資料去除 [ ]","info":"","x":670,"y":160,"wires":[]},{"id":"2bdc4f5d.44c51","type":"comment","z":"459fdf1b.b1446","name":"將資料整理成chart 所要的 fomate 後放入array中","info":"","x":920,"y":200,"wires":[]}]